/*

Editor Stylesheet : Wordpress Administration style

*/

.editor-styles-wrapper {
   @include font-weight(regular);
   @include font-size(text);
   color: $default-text-color;
   line-height: 1.5;
   font-family: 'Europa', 'Roboto', 'Arial', sans-serif;
}

.wp-block,
.wp-block[data-align="wide"],
.wp-block[data-align="full"]  {
   max-width: 90%;
   width: 90%;
 }