/* Font Face Rules 

Fonts used :
 
01 - Europa 
     1.1 : Europa Regular
     1.2 : Europa Bold
02 - Cosi
     2.1 - Cosi Regular
 */

@font-face {
     font-family: 'Europa';
     font-style:  regular;
     font-weight: 400;
     font-display: swap;
     src: url("./font/europa-light-webfont.woff2") format("woff2"),
          url("./font/europa-light-webfont.woff") format("woff"),
          url("./font/europa-light-webfont.ttf") format("ttf");
}

@font-face {
     font-family: 'Europa';
     font-style:  regular;
     font-weight: 700;
     font-display: swap;
     src: url("./font/europa-bold-webfont.woff2") format("woff2"),
          url("./font/europa-bold-webfont.woff") format("woff"),
          url("./font/europa-bold-webfont.ttf") format("truetype");
}

@font-face {
     font-family: 'Cosi';
     font-style:  normal;
     font-weight: 400;
     font-display: swap;
     
//     src: 
src: url("./font/cosi-azure-ultra.woff2") format("woff2"),
     url("./font/cosi-azure-ultra.woff") format("woff"),
     url("./font/cosi-azure-ultra.ttf") format("truetype");
}