/*

File Summary : 

01 - Accessibility
02 - Font-setting
03 - Responsive class
04 - Color class
05 - Background class
06 - Reset classes

*/

// 01 - Accessibility
// Accessiblity for main navigation

*:focus-visible {   
    outline-color: $leksi-green;
}
  
.skip-link{
    border: 0;
    clip: rect(1px, 1px, 1px, 1px);
    clip-path: inset(50%);
    height: 1px;
    margin: -1px;
    padding: 0;
    //overflow: hidden;
    position: absolute;
    width: 1px;
    word-wrap: normal !important;
}
.skip-link:focus {
    background-color:   $white;
    clip: auto !important;
    clip-path: none;
    color: $leksi-blue;
    display: block;
    font-size: 1em;
    height: auto;
    left: 0.5em;
    top: 0.5em;
    line-height: normal;
    padding: 1em 1.5em 1em;
    text-decoration: none;
    width: unset;
    z-index: $index-accessibility; /* Above WP toolbar. */
}

// Text for Screen Reader only
.sr-only {
clip: rect(0 0 0 0);
clip-path: inset(50%);
height: 1px;
overflow: hidden;
position: absolute;
white-space: nowrap;
width: 1px;
}

// 02 - Font-setting
// Default text setting

html {
    scroll-behavior: smooth;
    font-size: 100%;
}

body {
    @include font-weight(regular);
    @include font-size(text);
    color: $default-text-color;
    background: $white;
    box-sizing: border-box;
    line-height: 1.5;
    font-family: 'Europa', 'Roboto', 'Arial', sans-serif;
    word-break: break-word;
}

.body-like {
    @include font-weight(regular);
    @include font-size(text);
    font-style: normal;
    display: block;
}

h1, .h1-like {
    @include font(h1, bold);
}
    h2, .h2-like {
        @include font(h2, bold);
    }
        h3, .h3-like {
            @include font(h3, bold);
        }
            h4, .h4-like {
                @include font(h4, bold);
            }
                h5, .h5-like {
                    @include font(h5, bold);
                }
                    h6, .h6-like {
                        @include font(h6, bold);
                    }
                        b, strong, .bold {
                            @include font-weight(bold);
                        }

                        h1, .h1-like, 
                        h2, .h2-like, 
                        h3, .h3-like, 
                        h4, .h4-like, 
                        h5, .h5-like,
                        h6, .h6-like {
                            //margin: 0 0 0 0;
                            padding: 0;
                            line-height: 1.2;
                        }

/* 02 - Title font : Cosi Azure */ 
@mixin font-title {
    font-family: 'Cosi', 'Roboto', 'Arial', sans-serif;
}
    .font-title {
        @include font-title;
    }


// UNDERLINE
// Methode 1 - Border-bottom : compatible avec tous les navigateurs mais pas très précis ( fallback )
.title-underlined > span {
    border-bottom: solid $leksi-green 0.1em;

    /* Methode 2 - Text-decoration settings : compatible avec les navigateurs très récents*/
    @supports ( text-decoration-color: red ) {  
        border-bottom: none;
        text-decoration-line: underline;
        text-decoration-color: $leksi-green;
        text-decoration-style: solid;
        text-decoration-thickness: 0.1em;
        text-decoration-width: 0.1em;
    }
}
.title-underlined.leksi-green > span {
    /* Methode 1 : fallback */
    border-bottom-color: $leksi-pink;

    /* Methode 2 */
    @supports ( text-decoration-color: red ) {  
        text-decoration-color: $leksi-pink;
    }
}

// Methode 3 - Pseudo-élément After : Fonctionne uniquement sur la 1ere ligne
.line-underlined {
    > span {
        position: relative;
        z-index: 10;
        &::after {
            content:"";
            position: absolute;
            left: 0;
            bottom: 0.05em;
            font-size: inherit;
            height: 0.1em;
            width: 100%;
            background: $leksi-green;
            z-index: -1;
        }
    }
}

.line-underlined.leksi-green > span::after {
    background-color: $leksi-pink;
}



.lead-paragraph {
    @include font(lead, regular);
}

.baseline-paragraph {
    @include font(baseline, regular);
}

p {
    font-size: pixel(18);
    margin: 0 0 1rem 0;
    line-height: 1.75;
}

.text-like {
    @include font(text, regular);
    margin: 0;
    display: inline;
}

@mixin small-text {
    font-size: 0.875rem;
}
.small-text {
    @include small-text;
    line-height: $lh-small;
}

//03 - Responsive class
// Display elements according to screen size

// Sizes 1 : $tiny_width + $mobile_width
.mobile-hidden {
    @media screen and (max-width: $mobile_width) {
        visibility: hidden;
        width: 0;
        height: 0;
    }
}
// Size 2 : $tablet_width
.tablet-hidden {
    @media screen and (min-width: $mobile_width) and (max-width: $tablet_width) {
        visibility: hidden;
        width: 0;
        height: 0;
    }
}
// Size 3 : $desktop_width
.desktop-hidden {
    @media screen and (min-width: $tablet_width) and (max-width: $huge_width) {
        display: none;
        visibility: hidden;
    }
}
// Size 5 : above $desktop_width
.huge-hidden {
    @media screen and (min-width: $huge_width) {
        display: none;
        visibility: hidden;
    }
}

// Color class
.white {        
    color: $white;
}
.primary,
.leksi-blue {
    color: $leksi-blue;
}
.secondary,
.leksi-pink {
    color: $leksi-pink;
}
.leksi-green {
    color: $leksi-green;
}

.white-bg {
    background-color: $white;
}
.primary-bg,
.leksi-blue-bg {
    background-color: $leksi-blue;
}
.secondary-bg,
.leksi-pink-bg {
    background-color: $leksi-pink;
}

// Text-align class
.center {   text-align: center;}
.left {     text-align: left; }
.right {    text-align: right; }
.underline {    text-decoration: underline;}

//06 - Reset Classes
button.reset-style {
-webkit-backface-visibility: hidden;
    background: transparent;
    border: solid 1px transparent;
    box-sizing: border-box;
    outline: none;
    -webkit-appearance: none;
    outline-offset: 0;
    border-radius: 0;
    padding: 0;
    margin: 0;
    cursor: pointer;
}

.letter-spacing {
    letter-spacing: 0.06625em;
}