/*

Custom Mixins

File structure :
------------------
1 - Responsive spacing
  1.1 - spacing()
  1.2 - gutter()
  1.3 - Pixel -> Rem
------------------
2 - Font settings
  2.1 - Font()
  2.2 font-weight()
  2.3 - font-size()
------------------
3 - Link
  3.1 - Link default
  3.2 - Link underline
  3.3 - Button
------------------
4 - Icon

*/


/* 1 - Responsive spacing
--------------------------*/
// 1.1 - spacing()
// Generate responsive margin and responsive padding automatically
// Source : https://sass-lang.com/documentation/at-rules/control/if#else-if
@mixin spacing($property, $layout-map) {
  @each $layout-breakpoint, $layout-space in $layout-map {
    @if $layout-breakpoint == null {
      #{$property} : $layout-space;
    }
    @else {
      @media screen and (min-width: $layout-breakpoint) {
        #{$property} : $layout-space;
      }
    }
  }
}

// 1.2 - gutter()
// Generate a responsive grid-gap rule
@mixin gutter{
  @include spacing(grid-column-gap, $grid-column-gap);
  @include spacing(grid-row-gap, $grid-row-gap);
}

/* 1.3 - Pixel -> Rem
 * Function to convert px value into rem
 * Source : https://www.choosepizzi.net/sass-mixin-for-convert-px-to-rem/
 * The default font size for html is 16px
 */
$base-size: 16;
@function pixel($target, $context: $base-size) {
  @return ($target / $context) * 1rem;
}


/* 2 - Font settings
--------------------------*/

// 2.1 - Font()
// is used : @include font(standard)

@mixin font( $f-size: default, $weight: base ) {

  @if $weight != base {
        @include font-weight($weight);
    } @else {}
  @if $f-size != null {
        @include font-size($f-size);
    } @else {}
}
// 2.2 font-weight()
@mixin font-weight($weight) {
  font-weight: map-get($fonts, $weight);
}

// 2.3 - font-size()
@mixin font-size($f-size) {
  font-size: map-get($fonts, $f-size);
  @media screen and (min-width: $desktop_width) {
    font-size: map-get($fonts, #{$f-size}-desktop);
  }
}

/* 4 - Icon
-------------------------- */
// 4.1 - Arrow-icons

// Icon in background for interface element
@mixin icon($name) {

  @if $name == "arrow-left"  {

    background-image: url("./image/arrow-left.svg");
    &.button-blue,
    &.button-green:hover,
    &.button-green:focus,
    &.button-green:active {
      background-image: url("./image/arrow-left-white.svg");
    }
  }

  @if $name == "arrow-right" {

    background-image: url("./image/arrow-right.svg");
    &.button-blue,
    &.button-green:hover,
    &.button-green:focus,
    &.button-green:active {
      background-image: url("./image/arrow-right-white.svg");
    }
  }
}

.arrow-left {

  @include icon(arrow-left);
  background-repeat: no-repeat;
  background-size: 1em;
  padding-left: 1.75em;
  background-position: center left ;
  &:hover,
  &:active,
  &:focus {
    animation: go-left .4s;
  }

  &.button,
  &.button-big {
    padding-left: 2.55em;
    background-position: center left 0.85em ;
    &:hover,
    &:active,
    &:focus {
      animation: go-left .4s;
      background-image: url("./image/arrow-left-white.svg");
    }
  }
}

.arrow-right {

  @include icon(arrow-right);
  background-repeat: no-repeat;
  background-size: 1em;
  padding-right: 1.75em;
  background-position: center right ;
  &:hover,
  &:active,
  &:focus {
    animation: go-right .4s;
  }

  &.button,
  &.button-big {
    padding-right: 2.55em;
    background-position: center right 0.85em ;
    &:hover,
    &:active,
    &:focus {
      animation: go-right-button .4s;
      background-image: url("./image/arrow-right-white.svg");
    }
  }
}

.leksi-blue-bg .arrow-right {
  background-image: url("./image/arrow-right-green.svg");
}

// Arrow animation - Left arrow
@keyframes go-left { 
  from { background-position: center left ; } 
  to { background-position: center left -2em ;}  
}
  @-webkit-keyframes go-left { 
    from { background-position: center left ; } 
    to { background-position: center left -2em ;}  
  }

// Arrow animation - Left arrow button
@keyframes go-left-button { 
  from { background-position: center left 0.85em; } 
  to { background-position: center left -1.15em ;}  
}
  @-webkit-keyframes go-left-button { 
    from { background-position: center left 0.85em; } 
    to { background-position: center left -1.15em ;}  
  }

// Arrow animation - right arrow
@keyframes go-right { 
  from { background-position: center right ; } 
  to { background-position: center right -2em ;}  
}
  @-webkit-keyframes go-right { 
    from { background-position: center right ; } 
    to { background-position: center right -2em ;}  
  }

// Arrow animation - Right arrow button
@keyframes go-right-button { 
  from { background-position: center right 0.85em; } 
  to { background-position: center right -1.15em ;}  
}
  @-webkit-keyframes go-right-button { 
    from { background-position: center right 0.85em; } 
    to { background-position: center right -1.15em ;}  
  }