//colors
$white :            #fff;
$gray-dark :        #6C6F7B;
$black :            #000;
$leksi-blue :       #2142FF;
$leksi-navy :        #1500FF;
$leksi-pink :     #FFC2C2;
$leksi-cream :      #FDF5F6;
$leksi-green :      #00FFFF;
$red :              #EB5757; // Used in form

$default-text-color : $leksi-blue;

// Breakpoints
$col_4_width : 23rem; // 368px
$col_6_width : 35rem; // 560px
$col_8_width : 47rem; // 752px
$col_10_width : 59rem; // 944px
$col_12_width : 76rem; // 1136px
$col_14_width : 83rem; // 1328px
$col_16_width : 95rem; // 1520px

$mobile_width : pixel(320);
$tablet_width : $col_8_width;
$desktop_width : $col_10_width;
$huge_width : $col_16_width;

$wrapper-small-width: 44rem;

$wrapper-medium-width : (
  null: 53rem,
  $mobile_width: 53rem,
  $col_14_width: 63vw,
  $col_16_width: 71rem,
);

// Responsive spacing
$wrapper-padding: (
  null: pixel(16),
  $mobile_width: pixel(32),
  $tablet_width: pixel(60),
  $desktop_width: pixel(60),
);

$vertical-padding-regular: (
  null: 4rem,
  $mobile_width: 4rem,
  $col_6_width: 8rem,
  $col_10_width: 10rem,
);

$vertical-padding-small: (
  null: 1rem,
  $mobile_width: 2rem,
  $tablet_width: 2.5rem,
  $desktop_width: 3rem,
);

$vertical-padding-medium: (
  null: 1rem,
  $mobile_width: 2rem,
  $tablet_width: 4rem,
  $desktop_width: 6rem,
);



// Text line-height
$lh-small     : 1.2;
$lh-standard  : 1.5;
$lh-big       : 2;

//z-index
$index-accessibility  : 1000;
$index-modal          : 400;
$index-navigation     : 300;
$index-dropdown       : 200;
$index-overlay        : 100;

$fonts: (
    // A - Font weight
    regular: 400,
    bold: 700,
    // B - Font size
    h1: pixel(36),
    h1-desktop: pixel(68),
    h2: pixel(30),
    h2-desktop: pixel(48),
    h3: pixel(24),
    h3-desktop: pixel(36),
    h4: pixel(20),
    h4-desktop: pixel(32),
    h5: pixel(18),
    h5-desktop: pixel(24),
    h6: pixel(16),
    h6-desktop: pixel(20),
    text: 1rem,
    text-desktop: 1rem,
    lead: pixel(20),
    lead-desktop: pixel(36),
    baseline: pixel(20),
    baseline-desktop: pixel(24),
);