@charset "UTF-8";
/*
Theme Name: Leksi
Theme URI: https://leksi.fr/
Author: I Have a Green
Author URI: https://ihaveagreen.fr
Description: Thème Wordpress du site web de l'agence Leksi
Version: 1.0
*/
/* Normalize */
/*! normalize.css v8.0.0 | MIT License | github.com/necolas/normalize.css */
/* Document
   ========================================================================== */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 */
html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}

/* Sections
   ========================================================================== */
/**
 * Remove the margin in all browsers.
 */
body {
  margin: 0;
}

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/* Grouping content
   ========================================================================== */
/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/* Text-level semantics
   ========================================================================== */
/**
 * Remove the gray background on active links in IE 10.
 */
a {
  background-color: transparent;
}

/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  text-decoration: underline dotted;
  /* 2 */
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Embedded content
   ========================================================================== */
/**
 * Remove the border on images inside links in IE 10.
 */
img {
  border-style: none;
}

/* Forms
   ========================================================================== */
/**
 * 1. Change the font styles in all browsers.
 * 2. Remove the margin in Firefox and Safari.
 */
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */
}

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */
button,
input {
  /* 1 */
  overflow: visible;
}

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select {
  /* 1 */
  text-transform: none;
}

/**
 * Correct the inability to style clickable types in iOS and Safari.
 */
button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}

/**
 * Remove the inner border and padding in Firefox.
 */
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
 * Restore the focus styles unset by the previous rule.
 */
button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
 * Correct the padding in Firefox.
 */
fieldset {
  padding: 0.35em 0.75em 0.625em;
}

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */
legend {
  box-sizing: border-box;
  /* 1 */
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */
}

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  vertical-align: baseline;
}

/**
 * Remove the default vertical scrollbar in IE 10+.
 */
textarea {
  overflow: auto;
}

/**
 * 1. Add the correct box sizing in IE 10.
 * 2. Remove the padding in IE 10.
 */
[type="checkbox"],
[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}

/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/* Interactive
   ========================================================================== */
/*
 * Add the correct display in Edge, IE 10+, and Firefox.
 */
details {
  display: block;
}

/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item;
}

/* Misc
   ========================================================================== */
/**
 * Add the correct display in IE 10+.
 */
template {
  display: none;
}

/**
 * Add the correct display in IE 10.
 */
[hidden] {
  display: none;
}

/*

Custom Mixins

File structure :
------------------
1 - Responsive spacing
  1.1 - spacing()
  1.2 - gutter()
  1.3 - Pixel -> Rem
------------------
2 - Font settings
  2.1 - Font()
  2.2 font-weight()
  2.3 - font-size()
------------------
3 - Link
  3.1 - Link default
  3.2 - Link underline
  3.3 - Button
------------------
4 - Icon

*/
/* 1 - Responsive spacing
--------------------------*/
/* 1.3 - Pixel -> Rem
 * Function to convert px value into rem
 * Source : https://www.choosepizzi.net/sass-mixin-for-convert-px-to-rem/
 * The default font size for html is 16px
 */
/* 2 - Font settings
--------------------------*/
/* 4 - Icon
-------------------------- */
.arrow-left {
  background-image: url("./image/arrow-left.svg");
  background-repeat: no-repeat;
  background-size: 1em;
  padding-left: 1.75em;
  background-position: center left;
}

.arrow-left.button-blue, .arrow-left.button-green:hover, .arrow-left.button-green:focus, .arrow-left.button-green:active {
  background-image: url("./image/arrow-left-white.svg");
}

.arrow-left:hover, .arrow-left:active, .arrow-left:focus {
  animation: go-left .4s;
}

.arrow-left.button, .arrow-left.button-big {
  padding-left: 2.55em;
  background-position: center left 0.85em;
}

.arrow-left.button:hover, .arrow-left.button:active, .arrow-left.button:focus, .arrow-left.button-big:hover, .arrow-left.button-big:active, .arrow-left.button-big:focus {
  animation: go-left .4s;
  background-image: url("./image/arrow-left-white.svg");
}

.arrow-right {
  background-image: url("./image/arrow-right.svg");
  background-repeat: no-repeat;
  background-size: 1em;
  padding-right: 1.75em;
  background-position: center right;
}

.arrow-right.button-blue, .arrow-right.button-green:hover, .arrow-right.button-green:focus, .arrow-right.button-green:active {
  background-image: url("./image/arrow-right-white.svg");
}

.arrow-right:hover, .arrow-right:active, .arrow-right:focus {
  animation: go-right .4s;
}

.arrow-right.button, .arrow-right.button-big {
  padding-right: 2.55em;
  background-position: center right 0.85em;
}

.arrow-right.button:hover, .arrow-right.button:active, .arrow-right.button:focus, .arrow-right.button-big:hover, .arrow-right.button-big:active, .arrow-right.button-big:focus {
  animation: go-right-button .4s;
  background-image: url("./image/arrow-right-white.svg");
}

.leksi-blue-bg .arrow-right {
  background-image: url("./image/arrow-right-green.svg");
}

@keyframes go-left {
  from {
    background-position: center left;
  }
  to {
    background-position: center left -2em;
  }
}

@-webkit-keyframes go-left {
  from {
    background-position: center left;
  }
  to {
    background-position: center left -2em;
  }
}

@keyframes go-left-button {
  from {
    background-position: center left 0.85em;
  }
  to {
    background-position: center left -1.15em;
  }
}

@-webkit-keyframes go-left-button {
  from {
    background-position: center left 0.85em;
  }
  to {
    background-position: center left -1.15em;
  }
}

@keyframes go-right {
  from {
    background-position: center right;
  }
  to {
    background-position: center right -2em;
  }
}

@-webkit-keyframes go-right {
  from {
    background-position: center right;
  }
  to {
    background-position: center right -2em;
  }
}

@keyframes go-right-button {
  from {
    background-position: center right 0.85em;
  }
  to {
    background-position: center right -1.15em;
  }
}

@-webkit-keyframes go-right-button {
  from {
    background-position: center right 0.85em;
  }
  to {
    background-position: center right -1.15em;
  }
}

/* Font Face Rules 

Fonts used :
 
01 - Europa 
     1.1 : Europa Regular
     1.2 : Europa Bold
02 - Cosi
     2.1 - Cosi Regular
 */
@font-face {
  font-family: 'Europa';
  font-style: regular;
  font-weight: 400;
  font-display: swap;
  src: url("./font/europa-light-webfont.woff2") format("woff2"), url("./font/europa-light-webfont.woff") format("woff"), url("./font/europa-light-webfont.ttf") format("ttf");
}

@font-face {
  font-family: 'Europa';
  font-style: regular;
  font-weight: 700;
  font-display: swap;
  src: url("./font/europa-bold-webfont.woff2") format("woff2"), url("./font/europa-bold-webfont.woff") format("woff"), url("./font/europa-bold-webfont.ttf") format("truetype");
}

@font-face {
  font-family: 'Cosi';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("./font/cosi-azure-ultra.woff2") format("woff2"), url("./font/cosi-azure-ultra.woff") format("woff"), url("./font/cosi-azure-ultra.ttf") format("truetype");
}

/*

File Summary : 

01 - Accessibility
02 - Font-setting
03 - Responsive class
04 - Color class
05 - Background class
06 - Reset classes

*/
*:focus-visible {
  outline-color: #00FFFF;
}

.skip-link {
  border: 0;
  clip: rect(1px, 1px, 1px, 1px);
  clip-path: inset(50%);
  height: 1px;
  margin: -1px;
  padding: 0;
  position: absolute;
  width: 1px;
  word-wrap: normal !important;
}

.skip-link:focus {
  background-color: #fff;
  clip: auto !important;
  clip-path: none;
  color: #2142FF;
  display: block;
  font-size: 1em;
  height: auto;
  left: 0.5em;
  top: 0.5em;
  line-height: normal;
  padding: 1em 1.5em 1em;
  text-decoration: none;
  width: unset;
  z-index: 1000;
  /* Above WP toolbar. */
}

.sr-only {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

html {
  scroll-behavior: smooth;
  font-size: 100%;
}

body {
  font-weight: 400;
  font-size: 1rem;
  color: #2142FF;
  background: #fff;
  box-sizing: border-box;
  line-height: 1.5;
  font-family: 'Europa', 'Roboto', 'Arial', sans-serif;
  word-break: break-word;
}

@media screen and (min-width: 59rem) {
  body {
    font-size: 1rem;
  }
}

.body-like {
  font-weight: 400;
  font-size: 1rem;
  font-style: normal;
  display: block;
}

@media screen and (min-width: 59rem) {
  .body-like {
    font-size: 1rem;
  }
}

h1, .h1-like {
  font-weight: 700;
  font-size: 2.25rem;
}

@media screen and (min-width: 59rem) {
  h1, .h1-like {
    font-size: 4.25rem;
  }
}

h2, .h2-like {
  font-weight: 700;
  font-size: 1.875rem;
}

@media screen and (min-width: 59rem) {
  h2, .h2-like {
    font-size: 3rem;
  }
}

h3, .h3-like {
  font-weight: 700;
  font-size: 1.5rem;
}

@media screen and (min-width: 59rem) {
  h3, .h3-like {
    font-size: 2.25rem;
  }
}

h4, .h4-like {
  font-weight: 700;
  font-size: 1.25rem;
}

@media screen and (min-width: 59rem) {
  h4, .h4-like {
    font-size: 2rem;
  }
}

h5, .h5-like {
  font-weight: 700;
  font-size: 1.125rem;
}

@media screen and (min-width: 59rem) {
  h5, .h5-like {
    font-size: 1.5rem;
  }
}

h6, .h6-like {
  font-weight: 700;
  font-size: 1rem;
}

@media screen and (min-width: 59rem) {
  h6, .h6-like {
    font-size: 1.25rem;
  }
}

b, strong, .bold {
  font-weight: 700;
}

h1, .h1-like,
h2, .h2-like,
h3, .h3-like,
h4, .h4-like,
h5, .h5-like,
h6, .h6-like {
  padding: 0;
  line-height: 1.2;
}

/* 02 - Title font : Cosi Azure */
.font-title {
  font-family: 'Cosi', 'Roboto', 'Arial', sans-serif;
}

.title-underlined > span {
  border-bottom: solid #00FFFF 0.1em;
  /* Methode 2 - Text-decoration settings : compatible avec les navigateurs très récents*/
}

@supports (text-decoration-color: red) {
  .title-underlined > span {
    border-bottom: none;
    text-decoration-line: underline;
    text-decoration-color: #00FFFF;
    text-decoration-style: solid;
    text-decoration-thickness: 0.1em;
    text-decoration-width: 0.1em;
  }
}

.title-underlined.leksi-green > span {
  /* Methode 1 : fallback */
  border-bottom-color: #FFC2C2;
  /* Methode 2 */
}

@supports (text-decoration-color: red) {
  .title-underlined.leksi-green > span {
    text-decoration-color: #FFC2C2;
  }
}

.line-underlined > span {
  position: relative;
  z-index: 10;
}

.line-underlined > span::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0.05em;
  font-size: inherit;
  height: 0.1em;
  width: 100%;
  background: #00FFFF;
  z-index: -1;
}

.line-underlined.leksi-green > span::after {
  background-color: #FFC2C2;
}

.lead-paragraph {
  font-weight: 400;
  font-size: 1.25rem;
}

@media screen and (min-width: 59rem) {
  .lead-paragraph {
    font-size: 2.25rem;
  }
}

.baseline-paragraph {
  font-weight: 400;
  font-size: 1.25rem;
}

@media screen and (min-width: 59rem) {
  .baseline-paragraph {
    font-size: 1.5rem;
  }
}

p {
  font-size: 1.125rem;
  margin: 0 0 1rem 0;
  line-height: 1.75;
}

.text-like {
  font-weight: 400;
  font-size: 1rem;
  margin: 0;
  display: inline;
}

@media screen and (min-width: 59rem) {
  .text-like {
    font-size: 1rem;
  }
}

.small-text {
  font-size: 0.875rem;
  line-height: 1.2;
}

@media screen and (max-width: 20rem) {
  .mobile-hidden {
    visibility: hidden;
    width: 0;
    height: 0;
  }
}

@media screen and (min-width: 20rem) and (max-width: 47rem) {
  .tablet-hidden {
    visibility: hidden;
    width: 0;
    height: 0;
  }
}

@media screen and (min-width: 47rem) and (max-width: 95rem) {
  .desktop-hidden {
    display: none;
    visibility: hidden;
  }
}

@media screen and (min-width: 95rem) {
  .huge-hidden {
    display: none;
    visibility: hidden;
  }
}

.white {
  color: #fff;
}

.primary,
.leksi-blue {
  color: #2142FF;
}

.secondary,
.leksi-pink {
  color: #FFC2C2;
}

.leksi-green {
  color: #00FFFF;
}

.white-bg {
  background-color: #fff;
}

.primary-bg,
.leksi-blue-bg {
  background-color: #2142FF;
}

.secondary-bg,
.leksi-pink-bg {
  background-color: #FFC2C2;
}

.center {
  text-align: center;
}

.left {
  text-align: left;
}

.right {
  text-align: right;
}

.underline {
  text-decoration: underline;
}

button.reset-style {
  -webkit-backface-visibility: hidden;
  background: transparent;
  border: solid 1px transparent;
  box-sizing: border-box;
  outline: none;
  -webkit-appearance: none;
  outline-offset: 0;
  border-radius: 0;
  padding: 0;
  margin: 0;
  cursor: pointer;
}

.letter-spacing {
  letter-spacing: 0.06625em;
}

@media print {
  header#masthead {
    display: none;
  }
  .screen-reader-text {
    display: none;
  }
  footer#footer {
    display: none;
  }
}

/*

Style content [#content]

File structure :
------------------
1 - Wrapper settings
  1.1 : Wrapper
  1.2 :  Wrapper Size Medium (width)
  1.2 :  Wrapper Size Small (width)
------------------
2 - Vertical Rythm (padding) 
  2.1 : Vertical Padding Regular
  2.2 : Vertical Padding Small
------------------
3 - Link style
  3.1 - Link-default
  3.2 - Link Primary
  3.3 - Button primary
  3.4 - Button ghost
  3.5 - Button cta
  3.6 - Social Icons
  3.7 - Discrete Link
------------------
4 - Entry Content
  4.1 - Entry-content global
  4.2 - No useless margin
  4.3 - Entry-content blockquote
  4.4 - Entry-content : List style (ul + ol) 
  4.5 - Entry-content : List variant (ol only)
-------------------
5 - Video Container
  5.1 - Video thumbnail size
  5.2 - Video icon
  5.3 - Interactivity

*/
/* 1 - Wrapper settings
------------------ */
.wrapper {
  width: 100%;
  box-sizing: border-box;
  padding-left: 1rem;
  padding-right: 1rem;
}

@media screen and (min-width: 20rem) {
  .wrapper {
    padding-left: 2rem;
  }
}

@media screen and (min-width: 47rem) {
  .wrapper {
    padding-left: 3.75rem;
  }
}

@media screen and (min-width: 59rem) {
  .wrapper {
    padding-left: 3.75rem;
  }
}

@media screen and (min-width: 20rem) {
  .wrapper {
    padding-right: 2rem;
  }
}

@media screen and (min-width: 47rem) {
  .wrapper {
    padding-right: 3.75rem;
  }
}

@media screen and (min-width: 59rem) {
  .wrapper {
    padding-right: 3.75rem;
  }
}

.wrapper > img,
.wrapper > picture {
  max-width: 100%;
  height: auto;
  margin: auto;
}

.wrapper-medium {
  box-sizing: border-box;
  max-width: 53rem;
  margin: auto;
}

@media screen and (min-width: 20rem) {
  .wrapper-medium {
    max-width: 53rem;
  }
}

@media screen and (min-width: 83rem) {
  .wrapper-medium {
    max-width: 63vw;
  }
}

@media screen and (min-width: 95rem) {
  .wrapper-medium {
    max-width: 71rem;
  }
}

.wrapper-small {
  box-sizing: border-box;
  max-width: 44rem;
  margin: auto;
}

/*1.2 : Narrow-wrapper
@mixin narrow-wrapper {
  margin: auto;
  width: 100%;
  box-sizing: border-box;
  @include spacing(padding-left, $wrapper-padding);
  @include spacing(padding-right, $wrapper-padding);
  max-width: $narrow-wrapper;
}

.narrow-wrapper {
  @include narrow-wrapper;
}
*/
/* 2 - Vertical Rythm 
------------------ */
.v-padding-regular {
  padding-top: 4rem;
  padding-bottom: 4rem;
}

@media screen and (min-width: 20rem) {
  .v-padding-regular {
    padding-top: 4rem;
  }
}

@media screen and (min-width: 35rem) {
  .v-padding-regular {
    padding-top: 8rem;
  }
}

@media screen and (min-width: 59rem) {
  .v-padding-regular {
    padding-top: 10rem;
  }
}

@media screen and (min-width: 20rem) {
  .v-padding-regular {
    padding-bottom: 4rem;
  }
}

@media screen and (min-width: 35rem) {
  .v-padding-regular {
    padding-bottom: 8rem;
  }
}

@media screen and (min-width: 59rem) {
  .v-padding-regular {
    padding-bottom: 10rem;
  }
}

.v-padding-small {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

@media screen and (min-width: 20rem) {
  .v-padding-small {
    padding-top: 2rem;
  }
}

@media screen and (min-width: 47rem) {
  .v-padding-small {
    padding-top: 2.5rem;
  }
}

@media screen and (min-width: 59rem) {
  .v-padding-small {
    padding-top: 3rem;
  }
}

@media screen and (min-width: 20rem) {
  .v-padding-small {
    padding-bottom: 2rem;
  }
}

@media screen and (min-width: 47rem) {
  .v-padding-small {
    padding-bottom: 2.5rem;
  }
}

@media screen and (min-width: 59rem) {
  .v-padding-small {
    padding-bottom: 3rem;
  }
}

.v-padding-medium {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

@media screen and (min-width: 20rem) {
  .v-padding-medium {
    padding-top: 2rem;
  }
}

@media screen and (min-width: 47rem) {
  .v-padding-medium {
    padding-top: 4rem;
  }
}

@media screen and (min-width: 59rem) {
  .v-padding-medium {
    padding-top: 6rem;
  }
}

@media screen and (min-width: 20rem) {
  .v-padding-medium {
    padding-bottom: 2rem;
  }
}

@media screen and (min-width: 47rem) {
  .v-padding-medium {
    padding-bottom: 4rem;
  }
}

@media screen and (min-width: 59rem) {
  .v-padding-medium {
    padding-bottom: 6rem;
  }
}

/* 3 - Link
------------------ */
a,
.link-default {
  transition: .2s color;
  color: inherit;
  padding-left: 0.25em;
  padding-right: 0.25em;
}

a:link, a:visited,
.link-default:link,
.link-default:visited {
  color: inherit;
}

a:hover, a:focus, a[focus-within], a:active,
.link-default:hover,
.link-default:focus,
.link-default[focus-within],
.link-default:active {
  color: #fff;
  background-color: #1500FF;
}

a:hover, a:focus, a:focus-within, a:active,
.link-default:hover,
.link-default:focus,
.link-default:focus-within,
.link-default:active {
  color: #fff;
  background-color: #1500FF;
}

a:focus-visible,
.link-default:focus-visible {
  outline-color: #00FFFF;
}

.button,
.button-big {
  transition: all .2s;
  cursor: pointer;
  display: inline-block;
  text-decoration: none;
  font-weight: 700;
  border: 1px solid transparent;
  background-color: #fff;
  padding: 0.5em 0.85em;
  min-width: 4em;
}

.button:hover, .button:focus, .button[focus-within], .button:active,
.button-big:hover,
.button-big:focus,
.button-big[focus-within],
.button-big:active {
  color: #fff;
  background-color: #1500FF;
}

.button:hover, .button:focus, .button:focus-within, .button:active,
.button-big:hover,
.button-big:focus,
.button-big:focus-within,
.button-big:active {
  color: #fff;
  background-color: #1500FF;
}

.button:focus-visible,
.button-big:focus-visible {
  outline-color: #00FFFF;
}

.button-big {
  font-size: 1.125rem;
}

@media screen and (min-width: 59rem) {
  .button-big {
    font-size: 1.5rem;
  }
}

.button-ghost {
  transition: all .2s;
  cursor: pointer;
  margin: auto;
  text-decoration: none;
  color: inherit;
  border: 2px solid currentColor;
  background-color: transparent;
  padding: 0.5em 0.85em;
  line-height: 1;
  min-width: 4rem;
  cursor: pointer;
}

.button-ghost:hover, .button-ghost:focus, .button-ghost[focus-within], .button-ghost:active {
  color: #fff;
  background-color: #1500FF;
}

.button-ghost:hover, .button-ghost:focus, .button-ghost:focus-within, .button-ghost:active {
  color: #fff;
  background-color: #1500FF;
}

.button-ghost:focus-visible {
  outline-color: #00FFFF;
}

.button-green {
  background-color: #00FFFF;
  color: #2142FF;
  cursor: pointer;
  transition: all .2s;
  cursor: pointer;
}

.button-green:hover, .button-green:focus, .button-green[focus-within], .button-green:active {
  color: #fff;
  background-color: #1500FF;
}

.button-green:hover, .button-green:focus, .button-green:focus-within, .button-green:active {
  color: #fff;
  background-color: #1500FF;
}

.button-green:focus-visible {
  outline-color: #00FFFF;
}

.button-blue {
  background-color: #2142FF;
  color: #fff;
  cursor: pointer;
  transition: all .2s;
  cursor: pointer;
}

.button-blue:hover, .button-blue:focus, .button-blue[focus-within], .button-blue:active {
  color: #fff;
  background-color: #1500FF;
}

.button-blue:hover, .button-blue:focus, .button-blue:focus-within, .button-blue:active {
  color: #fff;
  background-color: #1500FF;
}

.button-blue:focus-visible {
  outline-color: #00FFFF;
}

a.link-icon {
  transition: background-color .2s;
  text-decoration: none;
  line-height: 0;
  display: inline-block;
  padding-left: 0;
}

a.link-icon:link, a.link-icon:visited {
  background-color: transparent;
}

a.link-icon * {
  vertical-align: middle;
  display: inline-block;
  line-height: 1;
  margin: 0;
}

a.link-icon p {
  margin-left: 0.25em;
  margin-right: 0.25em;
}

a.link-icon:hover, a.link-icon:focus, a.link-icon:active {
  color: #000;
  background-color: #fff;
}

a.link-icon:hover *, a.link-icon:focus *, a.link-icon:active * {
  filter: brightness(0);
}

.link-icon-variant {
  transition: background-color .2s;
  text-decoration: none;
  line-height: 0;
  display: inline-block;
  padding-left: 0;
  padding-right: 0;
}

.link-icon-variant:link, .link-icon-variant:visited {
  background-color: transparent;
}

.link-icon-variant * {
  vertical-align: middle;
  display: inline-block;
  line-height: 1;
  margin: 0;
}

.link-icon-variant p {
  margin-left: 0.25em;
  margin-right: 0.25em;
}

.link-icon-variant:hover, .link-icon-variant:focus, .link-icon-variant:active {
  color: #000;
  background-color: #2142FF;
}

.link-icon-variant:hover *, .link-icon-variant:focus *, .link-icon-variant:active * {
  filter: brightness(10);
}

.discrete-link {
  color: inherit;
}

.discrete-link:link, .discrete-link:visited,
.discrete-link a:link,
.discrete-link a:visited {
  text-decoration: none;
}

/* 4 - Entry Content
----------------- */
.entry-content {
  color: inherit;
  line-height: 1.5;
}

.entry-content > *:last-child {
  margin-bottom: 0;
}

.entry-content > *:first-child {
  margin-top: 0;
}

.entry-content em {
  text-decoration: underline;
  font-style: normal;
}

.entry-content ul, .entry-content ol {
  margin: 2rem auto;
}

.entry-content ul li, .entry-content ol li {
  margin-bottom: 0.5em;
  list-style: square inside;
}

.entry-content ul li:last-of-type, .entry-content ol li:last-of-type {
  margin-bottom: 0;
}

.entry-content ol li {
  list-style: decimal inside;
}

.entry-content a {
  transition: .2s color;
  color: inherit;
  padding-left: 0.25em;
  padding-right: 0.25em;
}

.entry-content a:link, .entry-content a:visited {
  color: inherit;
}

.entry-content a:hover, .entry-content a:focus, .entry-content a[focus-within], .entry-content a:active {
  color: #fff;
  background-color: #1500FF;
}

.entry-content a:hover, .entry-content a:focus, .entry-content a:focus-within, .entry-content a:active {
  color: #fff;
  background-color: #1500FF;
}

.entry-content a:focus-visible {
  outline-color: #00FFFF;
}

.btn-modale {
  display: block;
  line-height: 0;
  text-align: center;
  position: relative;
  transition: all .2s;
}

.btn-modale img,
.btn-modale picture,
.btn-modale figure {
  line-height: 1;
  width: 100%;
  max-width: 44rem;
  height: auto;
  opacity: 1;
  transition: opacity .2s;
}

.btn-modale::after {
  position: absolute;
  content: "";
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 4rem;
  height: 4rem;
  border-radius: 2rem;
  border: 2px solid white;
  background: url(./image/player.svg) center center no-repeat;
  background-color: transparent;
  opacity: 1;
  transition: all .2s;
}

.btn-modale:hover::after, .btn-modale:focus::after, .btn-modale:active::after {
  background-color: #2142FF;
  border-color: #2142FF;
}

.btn-modale:hover img,
.btn-modale:hover picture,
.btn-modale:hover figure, .btn-modale:focus img,
.btn-modale:focus picture,
.btn-modale:focus figure, .btn-modale:active img,
.btn-modale:active picture,
.btn-modale:active figure {
  opacity: 0.5;
}

/* 6 - GRID  */
.grid-regular,
.grid-title {
  display: grid;
  grid-column-gap: 1rem;
  grid-row-gap: 2rem;
  grid-template-columns: 1fr;
}

.grid-regular > *:last-child,
.grid-title > *:last-child {
  margin-bottom: 0;
}

.grid-regular > *:first-child,
.grid-title > *:first-child {
  margin-top: 0;
}

@media screen and (min-width: 35rem) {
  .grid-regular,
  .grid-title {
    grid-template-columns: 1fr 1fr;
  }
}

@media screen and (min-width: 35rem) and (min-width: 76rem) {
  .grid-regular,
  .grid-title {
    grid-column-gap: 7rem;
  }
}

.grid-title h2 {
  margin: 0;
}

.grid-listing {
  display: grid;
  grid-column-gap: 1rem;
  grid-template-columns: 1fr;
}

.grid-listing > *:last-child {
  margin-bottom: 0;
}

.grid-listing > *:first-child {
  margin-top: 0;
}

@media screen and (min-width: 47rem) {
  .grid-listing {
    grid-template-columns: 1fr 1fr;
  }
}

@media screen and (min-width: 47rem) and (min-width: 95rem) {
  .grid-listing {
    grid-template-columns: 2fr 3fr;
    grid-column-gap: 7rem;
  }
}

.grid-post {
  display: grid;
  grid-column-gap: 1rem;
  grid-row-gap: 2rem;
}

.grid-post > *:last-child {
  margin-bottom: 0;
}

.grid-post > *:first-child {
  margin-top: 0;
}

@media screen and (min-width: 35rem) {
  .grid-post {
    grid-template-columns: 1fr 1fr;
    grid-row-gap: 5rem;
  }
}

@media screen and (min-width: 35rem) and (min-width: 76rem) {
  .grid-post {
    grid-column-gap: 10rem;
  }
}

/*

Style Topbar [header.php]

File structure :
------------------
1 - Topbar settings
------------------
2 - Mobile Menu
    2.1 : Menu Layout : hidden
    2.2 : Menu layout : visible
    2.3 : Links Style   
    2.4 : Close button
    2.5 : Burger button
------------------
3 - Menu Desktop
  3.1 - Menu Layout
  3.2 - Links style
------------------
4 - x

*/
/* 1 - Topbar settings
------------------ */
#topbar-height {
  width: 100%;
  height: 2rem;
}

#topbar {
  width: 100%;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  z-index: 300;
  float: left;
  background: #fff;
  height: 4rem;
}

#topbar.sticky {
  position: fixed;
  top: 0;
  left: 0;
}

#topbar #menu {
  z-index: 300;
}

#topbar #topbar-logo {
  display: block;
  position: relative;
  line-height: 0;
  transform: translate(0%, 0%);
  z-index: 301;
}

#topbar #topbar-logo:hover, #topbar #topbar-logo:focus, #topbar #topbar-logo[focus-within], #topbar #topbar-logo:active {
  color: #2142FF;
  background-color: #1500FF;
}

#topbar #topbar-logo:hover, #topbar #topbar-logo:focus, #topbar #topbar-logo:focus-within, #topbar #topbar-logo:active {
  color: #2142FF;
  background-color: #1500FF;
}

#topbar #topbar-logo:hover > *, #topbar #topbar-logo:focus > *, #topbar #topbar-logo[focus-within] > *, #topbar #topbar-logo:active > * {
  filter: brightness(10);
}

#topbar #topbar-logo:hover > *, #topbar #topbar-logo:focus > *, #topbar #topbar-logo:focus-within > *, #topbar #topbar-logo:active > * {
  filter: brightness(10);
}

#topbar #logo-regular,
#topbar #logo-scroll,
#topbar #logo-alternative {
  display: inline-block;
  margin: 0;
  font-weight: 700;
  font-size: 1rem;
  line-height: 1.5;
}

@media screen and (min-width: 59rem) {
  #topbar #logo-regular,
  #topbar #logo-scroll,
  #topbar #logo-alternative {
    font-size: 1rem;
  }
}

#topbar #logo-regular,
#topbar #logo-scroll {
  color: #2142FF;
}

#topbar #logo-scroll,
#topbar #logo-alternative {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  color: #FFC2C2;
}

#topbar ul.primary {
  box-sizing: border-box;
  list-style: none;
  margin: 0;
  padding: 0;
  color: inherit;
}

#topbar ul.primary a {
  color: inherit;
  transition: .2s color;
  color: inherit;
  padding-left: 0.25em;
  padding-right: 0.25em;
  text-decoration: none;
}

#topbar ul.primary a:link, #topbar ul.primary a:visited {
  color: inherit;
}

#topbar ul.primary a:hover, #topbar ul.primary a:focus, #topbar ul.primary a[focus-within], #topbar ul.primary a:active {
  color: #fff;
  background-color: #1500FF;
}

#topbar ul.primary a:hover, #topbar ul.primary a:focus, #topbar ul.primary a:focus-within, #topbar ul.primary a:active {
  color: #fff;
  background-color: #1500FF;
}

#topbar ul.primary a:focus-visible {
  outline-color: #00FFFF;
}

#topbar .current-menu-item > a,
#topbar .current-menu-ancestor > a {
  position: relative;
}

#topbar .current-menu-item > a::after,
#topbar .current-menu-ancestor > a::after {
  position: absolute;
  content: "";
  height: 2px;
  width: 100%;
  bottom: -2px;
  left: 0;
  background: #FFC2C2;
}

#topbar #menu-buttons {
  position: relative;
}

#topbar #menu-buttons button {
  position: absolute;
  right: 0;
  top: 50%;
  transform: translate(0, -50%);
  background-color: transparent;
  outline: none;
  border: none;
  cursor: pointer;
  transition: background-color .2s;
  padding: 0.35rem 0.25rem;
  line-height: 0;
}

#topbar #menu-buttons button:hover, #topbar #menu-buttons button:focus, #topbar #menu-buttons button[focus-within] {
  background-color: rgba(255, 194, 194, 0.5);
}

#topbar #menu-buttons button:hover, #topbar #menu-buttons button:focus, #topbar #menu-buttons button:focus-within {
  background-color: rgba(255, 194, 194, 0.5);
}

#topbar #menu-buttons button:active {
  background-color: rgba(255, 194, 194, 0.5);
}

#topbar #logo-regular,
#topbar #logo-alternative,
#topbar #topbar-logo,
#topbar #burger-menu,
#topbar #close-menu {
  transition: all .4s;
}

/* 2 -  Mobile Menu
------------------ */
@media screen and (max-width: 46.99rem) {
  #topbar ul.primary {
    position: fixed;
    top: 0;
    padding: 5rem 1rem;
    left: 0;
    width: 100%;
    height: 100%;
    transform: translate(-100%, 0%);
    transition: all 0.4s;
    margin: 0;
    background: #1500FF;
    color: #fff;
    font-size: 1.5rem;
    line-height: 2;
    font-weight: 700;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  #topbar #close-menu {
    opacity: 0;
    z-index: -1;
  }
  #topbar.menu-open #logo-regular,
  #topbar.menu-open #logo-scroll,
  #menu:focus #logo-regular,
  #menu:focus #logo-scroll {
    opacity: 0;
  }
  #topbar.menu-open #logo-alternative,
  #menu:focus #logo-alternative {
    opacity: 1;
    left: -25%;
  }
  #topbar.menu-open #topbar-logo,
  #menu:focus #topbar-logo {
    margin-left: -3.75rem;
    transform: translate(50vw, 0%);
  }
  #topbar.menu-open #burger-menu,
  #menu:focus #burger-menu {
    opacity: 0;
    z-index: -1;
  }
  #topbar.menu-open #close-menu,
  #menu:focus #close-menu {
    opacity: 1;
    z-index: 1;
  }
  #topbar.menu-open ul.primary,
  #menu:focus ul.primary {
    opacity: 1;
    transform: translate(0%, 0%);
  }
  #topbar.menu-open {
    position: fixed;
    top: 0;
    left: 0;
    height: unset;
  }
  #topbar.menu-open #topbar-logo,
  #topbar.menu-open #burger-menu,
  #topbar.menu-open #close-menu {
    top: 3.25rem;
  }
  #topbar.menu-open.sticky {
    height: 4rem;
  }
  #topbar.menu-open.sticky #topbar-logo,
  #topbar.menu-open.sticky #burger-menu,
  #topbar.menu-open.sticky #close-menu {
    top: 0;
  }
}

/* 3 - Menu Desktop
------------------ */
@media screen and (min-width: 47rem) {
  ul.primary {
    font-size: 1.125rem;
  }
  ul.primary > li {
    display: inline-block;
    margin-left: 2rem;
  }
}

/* 5 - Header Home Variant 
------------------ */
#topbar.header-home {
  background: transparent;
  color: #fff;
  transition: all .4s;
}

#topbar.header-home:not(.sticky) #topbar-logo:hover, #topbar.header-home:not(.sticky) #topbar-logo:focus, #topbar.header-home:not(.sticky) #topbar-logo:active,
#topbar.header-home:not(.sticky) a:hover,
#topbar.header-home:not(.sticky) a:focus,
#topbar.header-home:not(.sticky) a:active {
  background: #fff;
  color: #2142FF;
}

#topbar.header-home:not(.sticky) #topbar-logo:hover > *, #topbar.header-home:not(.sticky) #topbar-logo:focus > *, #topbar.header-home:not(.sticky) #topbar-logo:active > *,
#topbar.header-home:not(.sticky) a:hover > *,
#topbar.header-home:not(.sticky) a:focus > *,
#topbar.header-home:not(.sticky) a:active > * {
  filter: none;
}

#topbar.header-home.sticky {
  color: #2142FF;
  background-color: #fff;
}

#topbar.header-home.sticky #logo-regular {
  opacity: 0;
}

#topbar.header-home.sticky #logo-scroll {
  opacity: 1;
}

#topbar.header-home.sticky.menu-open #logo-scroll {
  opacity: 0;
}

#content {
  padding-top: 5rem;
  z-index: 1;
}

/*

Style Breadcrumb [#nav-breadcrumb]

File Structure :

1 - Breadcrumb container
  1.2 - Breadcrumb list
  1.3 - Breadcrumb items
  1.4 - Breadcrumb link

*/
#nav-breadcrumbs {
  font-size: 0.875rem;
  margin: 0;
  padding: 0;
}

#nav-breadcrumbs #breadcrumbs {
  margin: 0;
  padding: 0;
  list-style: none;
}

#nav-breadcrumbs #breadcrumbs li {
  margin: 0;
  padding: 0;
  display: inline-block;
  margin-right: 2.5em;
  position: relative;
  word-break: break-word;
}

#nav-breadcrumbs #breadcrumbs li:last-of-type {
  display: inline;
}

#nav-breadcrumbs #breadcrumbs li::after {
  font-weight: 400;
  position: absolute;
  content: "/";
  height: 100%;
  top: 0;
  right: -1.5em;
}

#nav-breadcrumbs #breadcrumbs li:first-child > a {
  font-weight: 700;
  text-decoration: underline;
}

#nav-breadcrumbs #breadcrumbs li:last-child::after {
  display: none;
}

#nav-breadcrumbs #breadcrumbs a {
  transition: .2s color;
  color: inherit;
  padding-left: 0.25em;
  padding-right: 0.25em;
  text-decoration: none;
}

#nav-breadcrumbs #breadcrumbs a:link, #nav-breadcrumbs #breadcrumbs a:visited {
  color: inherit;
}

#nav-breadcrumbs #breadcrumbs a:hover, #nav-breadcrumbs #breadcrumbs a:focus, #nav-breadcrumbs #breadcrumbs a[focus-within], #nav-breadcrumbs #breadcrumbs a:active {
  color: #fff;
  background-color: #1500FF;
}

#nav-breadcrumbs #breadcrumbs a:hover, #nav-breadcrumbs #breadcrumbs a:focus, #nav-breadcrumbs #breadcrumbs a:focus-within, #nav-breadcrumbs #breadcrumbs a:active {
  color: #fff;
  background-color: #1500FF;
}

#nav-breadcrumbs #breadcrumbs a:focus-visible {
  outline-color: #00FFFF;
}

.leksi-blue-bg #nav-breadcrumbs {
  color: #00FFFF;
}

/*

Style Pagination [inc/pagination]

File Structure :

1 - Pagination container
  1.2 - List
  1.3 - Items
  1.4 - link

*/
.pagination {
  margin: auto;
  padding: 0;
  text-align: center;
}

.pagination ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.pagination ul li {
  display: inline-block;
  font-weight: 400;
  cursor: pointer;
  margin-right: 0.5rem;
}

.pagination ul li:last-child {
  margin-right: 0;
}

.pagination ul li.previous, .pagination ul li.next {
  font-weight: 700;
  font-size: 1rem;
}

@media screen and (min-width: 59rem) {
  .pagination ul li.previous, .pagination ul li.next {
    font-size: 1.25rem;
  }
}

.pagination ul li.previous {
  margin-right: 2rem;
}

.pagination ul li.next {
  margin-left: 2rem;
  margin-right: 0;
}

.pagination ul .current-cat,
.pagination ul a {
  padding: 0.5em;
  text-decoration: none;
}

/*

Style Footer [footer.php]

File structure :
------------------
1 - Footer layout
    1.1 Layout Mobile
    1.2 Layout Tablet
    1.3 Layout Desktop
    1.4 Layout Huge
------------------
2 - Content
    2.1 - Links style
    2.2 - Footer logo
    2.3 - Footer-nav
    2.4 - Footer-social
    2.5 - Footer-adress
        2.5.1 - Titles
    2.6 - Footer-privacy
    2.7 - Copyright
*/
/*1 - Footer layout
------------------ */
#footer {
  padding-top: 4rem;
  padding-bottom: 4rem;
  font-size: 1.125rem;
  /* Links style */
  /* 1.2 - Footer-logo */
  /* 1.3 - Footer-nav */
  /* 1.4 - Footer-social */
  /* 1.5 - Footer-adress */
  /* 1.5.1 - Titles */
  /* 1.6 - Footer-privacy */
  /* 1.7 - Copyright */
}

#footer #footer-layout {
  display: grid;
  grid-row-gap: 2rem;
  grid-column-gap: 1rem;
  grid-auto-rows: minmax(5px, auto);
  grid-template-columns: 1fr;
  grid-template-areas: "logo" "nav" "social" "adress" "privacy";
}

@media screen and (min-width: 35rem) {
  #footer #footer-layout {
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas: "logo   nav" "adress nav" "adress social" "privacy social";
  }
}

@media screen and (min-width: 35rem) and (min-width: 59rem) {
  #footer #footer-layout {
    grid-template-columns: 3fr 2fr 2fr 2fr;
    grid-template-areas: "logo nav social adress" "logo nav social privacy";
  }
}

@media screen and (min-width: 35rem) and (min-width: 59rem) and (min-width: 76rem) {
  #footer #footer-layout {
    grid-template-columns: 5fr 2fr 2fr 3fr;
  }
}

@media screen and (min-width: 35rem) and (min-width: 59rem) and (min-width: 76rem) and (min-width: 83rem) {
  #footer #footer-layout {
    grid-template-columns: 5fr 2fr 2fr 3fr;
  }
}

#footer ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

#footer a {
  text-decoration: none;
}

#footer #footer-logo {
  font-weight: 700;
  font-size: 1.5rem;
  line-height: 1.2;
  grid-area: logo;
}

#footer #footer-logo p {
  margin-top: 1.5rem;
  max-width: 14ch;
}

#footer #footer-nav {
  grid-area: nav;
}

#footer #footer-nav li {
  margin-bottom: 0.5rem;
}

#footer #footer-social {
  grid-area: social;
}

#footer #footer-social h2 {
  letter-spacing: 0.0625rem;
  margin: 0;
  margin-bottom: 0.5rem;
}

#footer #footer-adress {
  grid-area: adress;
}

#footer #footer-adress h2 {
  letter-spacing: 0.0625rem;
  margin: 0;
  margin-bottom: 0.5rem;
}

#footer #footer-adress p {
  margin: 0;
}

#footer #footer-social h2,
#footer #footer-adress h2 {
  letter-spacing: 0.0625rem;
  margin: 0;
  margin-bottom: 0.5rem;
}

#footer #footer-privacy {
  grid-area: privacy;
}

@media screen and (max-width: 47rem) {
  #footer #copyright {
    margin-top: 2rem;
  }
}

.modale {
  opacity: 0;
  position: fixed;
  z-index: 300;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
  left: 50%;
  top: 50%;
  width: 100%;
  width: 100vw;
  height: 100%;
  height: 100vh;
  transform: translate(100%, -50%);
  box-sizing: border-box;
  transition: all .4s;
  background-color: rgba(0, 0, 0, 0.8);
  /*
    // Butoon 2 - close video
    #video-close {
        grid-row: 1 / 2;
    }
    */
  /*
    // Overlay (Close Modal)
    #video-overlay {
        background-color: rgba(black, 0.8);
        width: 100%;
        height: 100%;
        grid-row: 1 / 4;
        grid-column: 1 / 4;
        border: none;
    }
    */
}

.modale .closeModale {
  outline: 0;
  background-color: transparent;
  transition: all .2s;
  color: #fff;
  font-size: 1rem;
  height: 4rem;
  width: 4rem;
  border-radius: 2rem;
  border: 1px solid currentColor;
  margin-bottom: 2rem;
  cursor: pointer;
}

.modale iframe {
  grid-row: 2 / 3;
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
  margin: auto;
  box-sizing: border-box;
}

.modale #video-close,
.modale iframe {
  grid-column: 2;
}

.modale.active {
  opacity: 1;
  transform: translate(-50%, -50%);
}

/*

Page Template [template-parts/content-page.php]

File structure

*/
#page-header {
  box-sizing: border-box;
}

#page-header:not(.padding-btm-medium) {
  padding-bottom: 4rem;
}

@media screen and (min-width: 20rem) {
  #page-header:not(.padding-btm-medium) {
    padding-bottom: 4rem;
  }
}

@media screen and (min-width: 35rem) {
  #page-header:not(.padding-btm-medium) {
    padding-bottom: 8rem;
  }
}

@media screen and (min-width: 59rem) {
  #page-header:not(.padding-btm-medium) {
    padding-bottom: 10rem;
  }
}

#page-header.padding-btm-medium {
  padding-bottom: 1rem;
}

@media screen and (min-width: 20rem) {
  #page-header.padding-btm-medium {
    padding-bottom: 2rem;
  }
}

@media screen and (min-width: 47rem) {
  #page-header.padding-btm-medium {
    padding-bottom: 4rem;
  }
}

@media screen and (min-width: 59rem) {
  #page-header.padding-btm-medium {
    padding-bottom: 6rem;
  }
}

#page-header.leksi-blue-bg {
  padding-top: 2rem;
}

#page-header.leksi-blue-bg > h1 {
  color: #00FFFF;
}

@media screen and (min-width: 59rem) {
  #page-header.leksi-blue-bg {
    padding-top: 3rem;
  }
}

#page-header > h1,
#page-header > div,
#page-header > p {
  margin: auto;
  max-width: 53rem;
}

@media screen and (min-width: 20rem) {
  #page-header > h1,
  #page-header > div,
  #page-header > p {
    max-width: 53rem;
  }
}

@media screen and (min-width: 83rem) {
  #page-header > h1,
  #page-header > div,
  #page-header > p {
    max-width: 63vw;
  }
}

@media screen and (min-width: 95rem) {
  #page-header > h1,
  #page-header > div,
  #page-header > p {
    max-width: 71rem;
  }
}

#page-header > h1 {
  margin-top: 2rem;
}

@media screen and (min-width: 35rem) {
  #page-header > h1 {
    margin-top: 5rem;
  }
}

@media screen and (min-width: 35rem) and (min-width: 59rem) {
  #page-header > h1 {
    margin-top: 6rem;
  }
}

#page-header > div {
  margin-top: 2rem;
}

@media screen and (min-width: 35rem) {
  #page-header > div {
    margin-top: 3rem;
  }
}

@media screen and (min-width: 35rem) and (min-width: 59rem) {
  #page-header > div {
    margin-top: 4rem;
  }
}

#page-header > p {
  margin-top: 1em;
}

/*

Homepage Style [see header-home.php]

File Structure :

1 - Hero Layout
    1.1 - Content Layout
    1.2 - Hero Layout  
    1.3 Background-trick
        1.3.1 - Font-settings
        1.3.2 -  Mobile Settings
        1.3.3 - Desktop Settings
    1.4 Title
        1.4.1 - Mobile layout
        1.4.2 - 6 columns layout
        1.4.3 - 8 columns layout
        1.4.4 - 12 columns layout
        1.4.5 - 14 columns layout
*/
/* 1.1 - Content Layout */
#home-hero + #content {
  padding-top: 100vh;
  margin-top: -2rem;
}

/* 1.2 - Hero Layout */
#home-hero {
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  min-height: 100vh;
  width: 100%;
  max-width: 100vw;
  overflow: hidden;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-content: flex-start;
}

#home-hero:after {
  content: "Leksi,l'agencedigitalequipèsesesmotsLeksi,l'agencedigitalequipèsesesmotsLeksi,l'agencedigitalequipèsesesmotsLeksi,l'agencedigitalequipèsesesmotsLeksi,l'agencedigitalequipèsesesmotsLeksi,l'agencedigitalequipèsesesmotsLeksi,l'agencedigitalequipèsesesmotsLeksi,l'agencedigitalequipèsesesmotsLeksi,l'agencedigitalequipèsesesmotsLeksi,l'agencedigitalequipèsesesmotsLeksi,l'agencedigitalequipèsesesmotsLeksi,l'agencedigitalequipèsesesmotsLeksi,l'agencedigitalequipèsesesmotsLeksi,l'agencedigitalequipèsesesmotsLeksi,l'agencedigitalequipèsesesmotsLeksi,l'agencedigitalequipèsesesmots";
  position: absolute;
  top: 0;
  height: 100vh;
  word-break: break-all;
  z-index: -1;
  color: #1500FF;
  background-color: #2142FF;
  overflow: hidden;
  font-family: 'Cosi', 'Roboto', 'Arial', sans-serif;
  line-height: 85%;
  font-size: 12vw;
  left: -4vw;
  width: 112vw;
}

@media screen and (min-width: 59rem) {
  #home-hero:after {
    font-size: 6vw;
    left: -2vw;
    width: 104vw;
  }
}

#home-hero h1 {
  max-width: 100%;
  line-height: 110%;
  margin-left: 2rem;
  margin-right: 2rem;
}

#home-hero h1 > span::after {
  bottom: 0.05em;
  z-index: 1;
}

@media screen and (min-width: 35rem) {
  #home-hero h1 {
    margin-left: 3.75rem;
    margin-right: 3.75rem;
  }
}

@media screen and (min-width: 35rem) and (min-width: 47rem) {
  #home-hero h1 {
    margin-left: 6rem;
  }
}

@media screen and (min-width: 35rem) and (min-width: 47rem) and (min-width: 76rem) {
  #home-hero h1 {
    margin-left: 11rem;
  }
}

@media screen and (min-width: 35rem) and (min-width: 47rem) and (min-width: 76rem) and (min-width: 83rem) {
  #home-hero h1 {
    max-width: 63vw;
  }
}

@media screen and (min-width: 35rem) and (min-width: 47rem) and (min-width: 76rem) and (min-width: 83rem) and (min-width: 95rem) {
  #home-hero h1 {
    max-width: 71rem;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
  }
}

/*

Page Template [template-parts/content-page.php]

File structure

*/
#contact-form-container {
  position: relative;
  background-color: #FFC2C2;
  background-image: url(./image/bg-form.svg);
  background-position: center center;
  background-repeat: no-repeat;
}

#contact-form-container #validationMessage {
  display: none;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-sizing: border-box;
  width: 70vw;
  max-width: 44rem;
  background: #fff;
  z-index: 100;
  transition: opacity .4s;
}

#contact-form-container.message-sent #validationMessage {
  display: block;
  opacity: 1;
}

#contact-form-container.message-sent #contactForm {
  opacity: 0;
}

#contact-form-container #validationMessage,
#contact-form-container form#contactForm {
  background: white;
  padding: 1rem 1.5rem;
}

@media screen and (min-width: 76rem) {
  #contact-form-container #validationMessage,
  #contact-form-container form#contactForm {
    padding: 2rem 3rem;
  }
}

@media screen and (min-width: 76rem) and (min-width: 76rem) {
  #contact-form-container #validationMessage,
  #contact-form-container form#contactForm {
    padding: 4rem 6rem;
  }
}

#contact-form-container form#contactForm {
  opacity: 1;
  transition: opacity .4s;
}

#contact-form-container form#contactForm h2 {
  margin-top: 0;
  margin-bottom: 2rem;
}

#contact-form-container form#contactForm input:not(.button),
#contact-form-container form#contactForm textarea {
  font-size: 1rem;
}

#contact-form-container form#contactForm .button {
  margin-top: 2rem;
  width: max-content;
  align-self: center;
}

/*

Post Archive and Blog : [templates/tpl-archive-blog.php] & [archive.php]

File structure

*/
/* 1 - Page Template */
#archive-header,
#categoryCasestudy {
  padding-bottom: 2rem;
}

@media screen and (min-width: 35rem) {
  #archive-header,
  #categoryCasestudy {
    padding-bottom: 3rem;
  }
}

@media screen and (min-width: 35rem) and (min-width: 59rem) {
  #archive-header,
  #categoryCasestudy {
    padding-bottom: 5rem;
  }
}

/*
#casestudy-header {
    > h1,
    > div {
        margin-left: auto;
        margin-right: auto;
        //max-width: $wrapper-small-width;
        width: 100%;
    }
}
*/
#archive-header > *:not(:first-child) {
  margin-left: auto;
  margin-right: auto;
  max-width: 53rem;
}

@media screen and (min-width: 20rem) {
  #archive-header > *:not(:first-child) {
    max-width: 53rem;
  }
}

@media screen and (min-width: 83rem) {
  #archive-header > *:not(:first-child) {
    max-width: 63vw;
  }
}

@media screen and (min-width: 95rem) {
  #archive-header > *:not(:first-child) {
    max-width: 71rem;
  }
}

#archive-header > h1 {
  margin-top: 2rem;
}

@media screen and (min-width: 35rem) {
  #archive-header > h1 {
    margin-top: 5rem;
  }
}

@media screen and (min-width: 35rem) and (min-width: 59rem) {
  #archive-header > h1 {
    margin-top: 6rem;
  }
}

.archive-listing {
  padding-bottom: 4rem;
}

@media screen and (min-width: 20rem) {
  .archive-listing {
    padding-bottom: 4rem;
  }
}

@media screen and (min-width: 35rem) {
  .archive-listing {
    padding-bottom: 8rem;
  }
}

@media screen and (min-width: 59rem) {
  .archive-listing {
    padding-bottom: 10rem;
  }
}

.archive-listing .grid-post {
  padding-bottom: 1rem;
}

@media screen and (min-width: 20rem) {
  .archive-listing .grid-post {
    padding-bottom: 2rem;
  }
}

@media screen and (min-width: 47rem) {
  .archive-listing .grid-post {
    padding-bottom: 2.5rem;
  }
}

@media screen and (min-width: 59rem) {
  .archive-listing .grid-post {
    padding-bottom: 3rem;
  }
}

/* 2 - Archive nav */
.archive-nav {
  margin-top: 1rem;
}

.archive-nav > *,
.archive-nav > button.reset-style {
  margin-right: 1rem;
}

.archive-nav > *:last-child,
.archive-nav > button.reset-style:last-child {
  margin-right: 0;
}

@media screen and (max-width: 23rem) {
  .archive-nav {
    text-align: left;
  }
  .archive-nav > *,
  .archive-nav > button.reset-style {
    margin-top: 0.5rem;
    display: inline-block;
  }
}

/* 2 - Post Card */
.bg-hover {
  transition: all .2s;
  border: 1px solid transparent;
  box-shadow: 0 0 #2142FF;
}

.bg-hover:hover, .bg-hover:focus, .bg-hover[focus-within], .bg-hover:active {
  color: #2142FF;
  background-color: #fff;
  box-shadow: 0.5rem 0.5rem #2142FF;
  border-color: #2142FF;
  transform: translate(-0.5rem, -0.5rem);
}

.bg-hover:hover, .bg-hover:focus, .bg-hover:focus-within, .bg-hover:active {
  color: #2142FF;
  background-color: #fff;
  box-shadow: 0.5rem 0.5rem #2142FF;
  border-color: #2142FF;
  transform: translate(-0.5rem, -0.5rem);
}

@media screen and (min-width: 23rem) {
  .bg-hover:hover, .bg-hover:focus, .bg-hover[focus-within], .bg-hover:active {
    box-shadow: 1rem 1rem #2142FF;
  }
  .bg-hover:hover, .bg-hover:focus, .bg-hover:focus-within, .bg-hover:active {
    box-shadow: 1rem 1rem #2142FF;
  }
}

@media screen and (min-width: 23rem) {
  .bg-hover:hover, .bg-hover:focus, .bg-hover[focus-within], .bg-hover:active {
    transform: translate(-1rem, -1rem);
  }
  .bg-hover:hover, .bg-hover:focus, .bg-hover:focus-within, .bg-hover:active {
    transform: translate(-1rem, -1rem);
  }
}

#post-suggestions .bg-hover {
  box-shadow: 0 0 #000;
}

#post-suggestions .bg-hover:hover, #post-suggestions .bg-hover:focus, #post-suggestions .bg-hover[focus-within], #post-suggestions .bg-hover:active {
  background-color: #2142FF;
  color: #fff;
  border-color: #000;
  box-shadow: 0.5rem 0.5rem #000;
}

#post-suggestions .bg-hover:hover, #post-suggestions .bg-hover:focus, #post-suggestions .bg-hover:focus-within, #post-suggestions .bg-hover:active {
  background-color: #2142FF;
  color: #fff;
  border-color: #000;
  box-shadow: 0.5rem 0.5rem #000;
}

@media screen and (min-width: 23rem) {
  #post-suggestions .bg-hover:hover, #post-suggestions .bg-hover:focus, #post-suggestions .bg-hover[focus-within], #post-suggestions .bg-hover:active {
    box-shadow: 1rem 1rem #000;
  }
  #post-suggestions .bg-hover:hover, #post-suggestions .bg-hover:focus, #post-suggestions .bg-hover:focus-within, #post-suggestions .bg-hover:active {
    box-shadow: 1rem 1rem #000;
  }
}

#post-suggestions .bg-hover:hover .is_podcast, #post-suggestions .bg-hover:focus .is_podcast, #post-suggestions .bg-hover[focus-within] .is_podcast, #post-suggestions .bg-hover:active .is_podcast {
  color: #00FFFF;
}

#post-suggestions .bg-hover:hover .is_podcast, #post-suggestions .bg-hover:focus .is_podcast, #post-suggestions .bg-hover:focus-within .is_podcast, #post-suggestions .bg-hover:active .is_podcast {
  color: #00FFFF;
}

#post-suggestions .read-more:hover, #post-suggestions .read-more:focus, #post-suggestions .read-more:active {
  color: #fff;
  background-color: #2142FF;
}

#post-suggestions .read-more:hover::after, #post-suggestions .read-more:focus::after, #post-suggestions .read-more:active::after {
  background-color: #FFC2C2;
}

.post-card {
  transition: all .2s;
  padding: 0;
  padding-bottom: 1rem;
  border-bottom: 2px solid transparent;
  text-decoration: none;
  /* 2.1 - Thumbnail */
}

.post-card *:focus,
.post-card *::selection {
  background-color: #2142FF;
  color: #00FFFF;
}

.post-card .card-thumbnail {
  width: 100%;
  height: auto;
  display: block;
  margin-bottom: 2rem;
  text-decoration: none;
  color: inherit;
  background-color: #1500FF;
  line-height: 0;
}

.post-card .card-thumbnail:hover > *, .post-card .card-thumbnail:focus > *, .post-card .card-thumbnail:active > * {
  opacity: 0.85;
}

.post-card .card-thumbnail * {
  display: inline-block;
  text-align: center;
  width: 100%;
  max-width: 100%;
  height: auto;
  object-fit: cover;
  transition: opacity .2s;
}

.post-card .card-thumbnail.is_podcast {
  position: relative;
}

.post-card .card-thumbnail.is_podcast::after {
  position: absolute;
  right: 2rem;
  bottom: -2rem;
  content: url(./image/podcast.svg);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 4rem;
  height: 4rem;
  border-radius: 2rem;
  color: inherit;
  background: currentColor;
  transition: background-color .2s;
}

.post-card .card-thumbnail.is_podcast:hover::after, .post-card .card-thumbnail.is_podcast:focus::after, .post-card .card-thumbnail.is_podcast:active::after {
  background: #1500FF;
}

.post-card .card-title {
  display: block;
  margin: 0;
  margin-bottom: 0.5rem;
  min-height: 2.5em;
}

.post-card .read-more {
  float: right;
}

/* Category style */
.category-name {
  display: block;
  margin: 0;
  text-transform: uppercase;
  margin-bottom: 0.25rem;
  font-size: 0.875rem;
}

/* 3 - Author Name
.author-bloc {
    display: inline-block;
    .author-avatar {
        float: left;
        width: 3rem;
        height: 3rem;
        border-radius: 1.5rem;
        overflow: hidden;
    }
    .author-text {
        padding-left: 4rem;
        * {
            margin: 0;
        }
        time {
            margin-top: 0.25rem;
        }
    }
}
*/
/* 4 - Link "Lire l'article" */
.current-cat,
.read-more,
.read-more-blue {
  text-decoration: none;
  position: relative;
  padding-bottom: 0.25rem;
}

.current-cat::after,
.read-more::after,
.read-more-blue::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 2px;
  color: inherit;
}

.current-cat::after,
.read-more::after {
  background-color: #00FFFF;
}

.current-cat:hover, .current-cat:focus, .current-cat[focus-within], .current-cat:active,
.read-more:hover,
.read-more:focus,
.read-more[focus-within],
.read-more:active {
  color: #1500FF;
  background-color: #00FFFF;
}

.current-cat:hover, .current-cat:focus, .current-cat:focus-within, .current-cat:active,
.read-more:hover,
.read-more:focus,
.read-more:focus-within,
.read-more:active {
  color: #1500FF;
  background-color: #00FFFF;
}

.current-cat:hover::after, .current-cat:focus::after, .current-cat[focus-within]::after, .current-cat:active::after,
.read-more:hover::after,
.read-more:focus::after,
.read-more[focus-within]::after,
.read-more:active::after {
  background-color: #1500FF;
}

.current-cat:hover::after, .current-cat:focus::after, .current-cat:focus-within::after, .current-cat:active::after,
.read-more:hover::after,
.read-more:focus::after,
.read-more:focus-within::after,
.read-more:active::after {
  background-color: #1500FF;
}

.read-more-blue::after {
  background-color: #2142FF;
}

.read-more-blue:hover::after, .read-more-blue:focus::after, .read-more-blue:active::after {
  background-color: #00FFFF;
}

/*

Post Archive and Blog : [templates/tpl-archive-blog.php] & [archive.php]

File structure

*/
/* 1 - Page Template */
#post-header > #post-breadcrumb {
  padding-bottom: 2rem;
}

#post-header #post-thumb {
  width: 100%;
  height: 18.75rem;
  overflow: hidden;
}

#post-header #post-thumb * {
  width: 100%;
  max-width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

#post-header #post-title > h1 {
  margin: 0 0 2rem 0;
}

#post-layout,
#post-layout #post-share,
#post-layout #raw-content {
  box-sizing: border-box;
}

#post-layout {
  width: 100%;
  padding-left: 2rem;
  padding-right: 2rem;
  /* copyLink */
}

@media screen and (min-width: 35rem) {
  #post-layout {
    padding-left: 3.75rem;
    padding-right: 3.75rem;
  }
}

@media screen and (min-width: 35rem) and (min-width: 47rem) {
  #post-layout {
    padding-left: 3.75rem;
    padding-right: 3.75rem;
  }
}

@media screen and (min-width: 35rem) and (min-width: 47rem) and (min-width: 59rem) {
  #post-layout {
    padding-left: 0;
    padding-right: 0;
  }
}

#post-layout #post-share {
  width: 100%;
  padding-bottom: 2rem;
}

@media screen and (min-width: 35rem) and (max-width: 59rem) {
  #post-layout #post-share {
    display: flex;
    flex-flow: row;
  }
  #post-layout #post-share #share-list {
    margin-top: 0;
    margin-left: 2rem;
  }
}

@media screen and (min-width: 59rem) {
  #post-layout #post-share {
    padding-left: 3.75rem;
    max-width: 22rem;
    height: 20rem;
    position: -webkit-sticky;
    position: sticky;
    top: 6rem;
    left: 0;
    padding-bottom: 0;
  }
}

#post-layout #share-list {
  margin-top: 2rem;
  display: block;
}

#post-layout #share-links {
  margin-top: 0.25rem;
  display: flex;
  flex-flow: row wrap;
}

#post-layout #share-links > * {
  margin-right: 1rem;
}

#post-layout #share-links > *:last-child {
  margin-right: 0;
}

#post-layout #share-links img, #post-layout #share-links picture {
  width: 3rem;
  height: auto;
}

@media (hover: hover) {
  #post-layout #share-links > * {
    margin-right: 0.5rem;
  }
  #post-layout #share-links > *:last-child {
    margin-right: 0;
  }
  #post-layout #share-links img, #post-layout #share-links picture {
    width: 2rem;
    height: auto;
  }
}

#post-layout #raw-content {
  display: block;
  width: 100%;
}

@media screen and (min-width: 59rem) {
  #post-layout #raw-content {
    display: inline-block;
    margin-top: -20rem;
    padding-left: 22rem;
  }
}

@media screen and (min-width: 59rem) and (min-width: 95rem) {
  #post-layout #raw-content {
    padding-right: 22rem;
  }
}

/* Block Suggestions d'articles */
#post-suggestions {
  color: #00FFFF;
}

#post-suggestions h2 {
  margin-top: 0;
}

#post-suggestions a:link,
#post-suggestions a:visited {
  color: #00FFFF;
}

#content > main > #post-suggestions:last-child {
  padding-bottom: 0;
}

/*

Post Archive and Blog : [templates/tpl-archive-casestudy.php]

*/
/* 1 - Casestudy Card Animation (Archive Casestudy) */
.card-casestudy {
  -webkit-animation: 0.2s fade_in;
  animation: 0.2s fade_in;
  margin-bottom: 4rem;
}

.card-casestudy:last-child {
  margin-bottom: 0;
}

.card-casestudy.hide {
  opacity: 0;
  -webkit-animation: 0.2s fade_out forwards;
  animation: 0.2s fade_out forwards;
  display: none;
}

@media screen and (min-width: 47rem) {
  .card-casestudy .entry-content {
    padding-top: 0.35rem;
  }
}

@media screen and (min-width: 47rem) and (min-width: 59rem) {
  .card-casestudy .entry-content {
    padding-top: 1.25rem;
  }
}

.card-casestudy .entry-content p {
  margin: 0;
}

.card-casestudy .h6-like {
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}

@media screen and (min-width: 35rem) {
  .card-casestudy .h6-like {
    margin-bottom: 0;
  }
}

@-webkit-keyframes fade_in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fade_in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@-webkit-keyframes fade_out {
  from {
    opacity: 1;
    display: block;
  }
  90% {
    opacity: 0;
    display: block;
  }
  to {
    opacity: 0;
    display: none;
  }
}

@keyframes fade_out {
  from {
    opacity: 1;
    display: block;
  }
  90% {
    opacity: 0;
    display: block;
  }
  to {
    opacity: 0;
    display: none;
  }
}

ul.sitemap-menu {
  list-style: none;
  padding: 0;
  margin: 0;
}

ul.sitemap-menu a {
  display: inline-block;
  text-decoration: none;
  margin-bottom: 0.5em;
}

ul.sitemap-menu li:last-child > a:last-child {
  margin-bottom: 2em;
}

ul.sitemap-menu > li {
  font-weight: 700;
  font-size: 1.125rem;
}

@media screen and (min-width: 59rem) {
  ul.sitemap-menu > li {
    font-size: 1.5rem;
  }
}

ul.sitemap-menu ul {
  padding: 0 0 0 1em;
  list-style: "⟶ ";
  list-style-position: inside;
  font-weight: 400;
  font-size: 1rem;
}

@media screen and (min-width: 59rem) {
  ul.sitemap-menu ul {
    font-size: 1.25rem;
  }
}

ul.sitemap-menu ul ul {
  list-style: disc;
  list-style-position: inside;
}

/*

Gutenberg Core blocks

File structure :
------------------
0 - Select Core Blosks 
------------------
1 - Text
    1.1 - Paragraph
    1.2 - Title
    1.3 - List
    1.4 - Blockquote
------------------
2 - Picture
    2.1 - Image
    2.2 - Figure

*/
#raw-content {
  /* 1 - Text
    ------------------*/
  /* 2 - Picture
    ------------------*/
  /* 3 - Entry-content
    ---------------- */
}

#raw-content > p:first-child {
  margin-top: 0;
}

#raw-content > *:not(section) {
  max-width: 53rem;
  width: 100%;
  margin: 2rem auto;
  padding: 0 1rem;
  box-sizing: border-box;
}

@media screen and (min-width: 20rem) {
  #raw-content > *:not(section) {
    max-width: 53rem;
  }
}

@media screen and (min-width: 83rem) {
  #raw-content > *:not(section) {
    max-width: 63vw;
  }
}

@media screen and (min-width: 95rem) {
  #raw-content > *:not(section) {
    max-width: 71rem;
  }
}

@media screen and (min-width: 20rem) {
  #raw-content > *:not(section) {
    padding: 0 2rem;
  }
}

@media screen and (min-width: 20rem) and (min-width: 47rem) {
  #raw-content > *:not(section) {
    padding: 0 3.75rem;
  }
}

@media screen and (min-width: 53rem) and (max-width: 59rem) {
  #raw-content > *:not(section) {
    padding: 0 3.75rem;
    max-width: 100%;
  }
}

@media screen and (min-width: 83rem) {
  #raw-content.post-width-limit {
    margin-left: auto;
    margin-right: auto;
    width: 100%;
  }
}

#raw-content.post-width-limit *:not(section) {
  max-width: 59rem;
}

@media screen and (min-width: 47rem) {
  #raw-content.post-width-limit *:not(section) {
    padding: 0;
  }
}

@media screen and (min-width: 47rem) and (min-width: 59rem) and (max-width: 83rem) {
  #raw-content.post-width-limit *:not(section) {
    padding-right: 3.75rem;
  }
}

#raw-content > p {
  color: inherit;
  line-height: 1.5;
}

#raw-content > p > *:last-child {
  margin-bottom: 0;
}

#raw-content > p > *:first-child {
  margin-top: 0;
}

#raw-content > p em {
  text-decoration: underline;
  font-style: normal;
}

#raw-content > p ul, #raw-content > p ol {
  margin: 2rem auto;
}

#raw-content > p ul li, #raw-content > p ol li {
  margin-bottom: 0.5em;
  list-style: square inside;
}

#raw-content > p ul li:last-of-type, #raw-content > p ol li:last-of-type {
  margin-bottom: 0;
}

#raw-content > p ol li {
  list-style: decimal inside;
}

#raw-content > p a {
  transition: .2s color;
  color: inherit;
  padding-left: 0.25em;
  padding-right: 0.25em;
}

#raw-content > p a:link, #raw-content > p a:visited {
  color: inherit;
}

#raw-content > p a:hover, #raw-content > p a:focus, #raw-content > p a[focus-within], #raw-content > p a:active {
  color: #fff;
  background-color: #1500FF;
}

#raw-content > p a:hover, #raw-content > p a:focus, #raw-content > p a:focus-within, #raw-content > p a:active {
  color: #fff;
  background-color: #1500FF;
}

#raw-content > p a:focus-visible {
  outline-color: #00FFFF;
}

#raw-content > ul,
#raw-content > ol {
  margin: 2rem auto;
}

#raw-content > ul li,
#raw-content > ol li {
  margin-bottom: 0.5em;
  list-style: square inside;
}

#raw-content > ul li:last-of-type,
#raw-content > ol li:last-of-type {
  margin-bottom: 0;
}

#raw-content > ol li {
  list-style: decimal inside;
}

#raw-content blockquote {
  box-sizing: border-box;
  border: 2px solid #FFC2C2;
  padding: 1rem;
}

@media screen and (min-width: 20rem) {
  #raw-content blockquote {
    padding: 2rem;
  }
}

@media screen and (min-width: 47rem) {
  #raw-content blockquote {
    padding: 3.75rem;
  }
}

@media screen and (min-width: 59rem) {
  #raw-content blockquote {
    padding: 3.75rem;
  }
}

#raw-content blockquote p {
  margin: 0;
}

#raw-content blockquote cite {
  font-style: normal;
  margin-top: 2rem;
  margin-bottom: 0.5rem;
  display: inline-block;
}

#raw-content > img,
#raw-content > picture {
  max-width: 100%;
  height: auto;
  margin: 2rem auto;
}

#raw-content > figure {
  width: 100%;
  display: flex;
  flex-flow: column nowrap;
  width: 100%;
  box-sizing: border-box;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 4rem;
  padding-bottom: 4rem;
}

@media screen and (min-width: 20rem) {
  #raw-content > figure {
    padding-left: 2rem;
  }
}

@media screen and (min-width: 47rem) {
  #raw-content > figure {
    padding-left: 3.75rem;
  }
}

@media screen and (min-width: 59rem) {
  #raw-content > figure {
    padding-left: 3.75rem;
  }
}

@media screen and (min-width: 20rem) {
  #raw-content > figure {
    padding-right: 2rem;
  }
}

@media screen and (min-width: 47rem) {
  #raw-content > figure {
    padding-right: 3.75rem;
  }
}

@media screen and (min-width: 59rem) {
  #raw-content > figure {
    padding-right: 3.75rem;
  }
}

#raw-content > figure > img,
#raw-content > figure > picture {
  max-width: 100%;
  height: auto;
  margin: auto;
}

@media screen and (min-width: 20rem) {
  #raw-content > figure {
    padding-top: 4rem;
  }
}

@media screen and (min-width: 35rem) {
  #raw-content > figure {
    padding-top: 8rem;
  }
}

@media screen and (min-width: 59rem) {
  #raw-content > figure {
    padding-top: 10rem;
  }
}

@media screen and (min-width: 20rem) {
  #raw-content > figure {
    padding-bottom: 4rem;
  }
}

@media screen and (min-width: 35rem) {
  #raw-content > figure {
    padding-bottom: 8rem;
  }
}

@media screen and (min-width: 59rem) {
  #raw-content > figure {
    padding-bottom: 10rem;
  }
}

#raw-content > figure > * {
  max-width: 100%;
  height: auto;
}

#raw-content > figure > figcaption {
  margin-top: 2rem;
  text-align: center;
}

#raw-content > .entry-content {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

@media screen and (min-width: 20rem) {
  #raw-content > .entry-content {
    margin-top: 2rem;
  }
}

@media screen and (min-width: 47rem) {
  #raw-content > .entry-content {
    margin-top: 2.5rem;
  }
}

@media screen and (min-width: 59rem) {
  #raw-content > .entry-content {
    margin-top: 3rem;
  }
}

@media screen and (min-width: 20rem) {
  #raw-content > .entry-content {
    margin-bottom: 2rem;
  }
}

@media screen and (min-width: 47rem) {
  #raw-content > .entry-content {
    margin-bottom: 2.5rem;
  }
}

@media screen and (min-width: 59rem) {
  #raw-content > .entry-content {
    margin-bottom: 3rem;
  }
}

/*

Gutenberg Bloc Title-Texte & Title-Texte-Image [template-parts/block/titleTexteImage.php & template-parts/block/titleTexte.php]

File structure :
------------------
1 - Block Content
    1.1 - Title
    1.2 - Text
------------------
2 - Data Layout 
    2.1 - Data Container
    2.2 - Data Card (single)
        Tablet Layout
        Mobile Layout
        Desktop Layout
        Huge Layout
    2.3 - Data Image

*/
/* 1 - Block Title + Text + Image */
/* 2 - Block Title + Text */
/* 3 - Block Title */
/* 4 - Block Text */
/* 5 - Commun settings */
.blk-text {
  padding-top: 1rem;
  padding-bottom: 1rem;
  /* 1.3 - Layout Alternate */
}

@media screen and (min-width: 20rem) {
  .blk-text {
    padding-top: 2rem;
  }
}

@media screen and (min-width: 47rem) {
  .blk-text {
    padding-top: 4rem;
  }
}

@media screen and (min-width: 59rem) {
  .blk-text {
    padding-top: 6rem;
  }
}

@media screen and (min-width: 20rem) {
  .blk-text {
    padding-bottom: 2rem;
  }
}

@media screen and (min-width: 47rem) {
  .blk-text {
    padding-bottom: 4rem;
  }
}

@media screen and (min-width: 59rem) {
  .blk-text {
    padding-bottom: 6rem;
  }
}

.blk-text > div {
  display: grid;
  grid-column-gap: 1rem;
  grid-row-gap: 2rem;
  grid-template-columns: 1fr;
  grid-template-areas: "title" "content";
}

@media screen and (min-width: 35rem) {
  .blk-text > div {
    grid-template-areas: "title content";
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (min-width: 35rem) and (min-width: 76rem) {
  .blk-text > div {
    grid-column-gap: 7rem;
  }
}

@media screen and (min-width: 35rem) {
  .blk-text:nth-of-type(even) > div {
    grid-template-areas: "content title";
  }
}

.blk-text .bloc-content > *:last-child,
.blk-text .bloc-title > *:last-child {
  margin-bottom: 0;
}

.blk-text .bloc-content > *:first-child,
.blk-text .bloc-title > *:first-child {
  margin-top: 0;
}

.blk-text .bloc-title {
  grid-area: title;
}

.blk-text h2 {
  margin-bottom: 2rem;
}

.blk-text .bloc-content {
  grid-area: content;
}

.blk-text .bloc-content img,
.blk-text .bloc-content picture {
  width: 100%;
  max-width: 100%;
  height: auto;
}

.blk-text .arrow-right {
  border: 2px solid #2142FF;
  margin-top: 2rem;
}

.blk-text.custom-bg {
  background-image: url(./image/bg-lines.svg), url(./image/bg-lines.svg);
  background-repeat: no-repeat;
  background-size: 15.625rem;
  background-position: bottom left, top right;
}

@media screen and (min-width: 59rem) {
  .blk-text.custom-bg {
    background-size: 34.375rem;
  }
}

.blk-text.custom-bg > div {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

@media screen and (min-width: 20rem) {
  .blk-text.custom-bg > div {
    margin-top: 2rem;
  }
}

@media screen and (min-width: 47rem) {
  .blk-text.custom-bg > div {
    margin-top: 2.5rem;
  }
}

@media screen and (min-width: 59rem) {
  .blk-text.custom-bg > div {
    margin-top: 3rem;
  }
}

@media screen and (min-width: 20rem) {
  .blk-text.custom-bg > div {
    margin-bottom: 2rem;
  }
}

@media screen and (min-width: 47rem) {
  .blk-text.custom-bg > div {
    margin-bottom: 2.5rem;
  }
}

@media screen and (min-width: 59rem) {
  .blk-text.custom-bg > div {
    margin-bottom: 3rem;
  }
}

.blk-text:not(.custom-bg) + .blk-text:not(.custom-bg) {
  padding-top: 0;
}

/*

Gutenberg Bloc Data [template-parts/block/data.php]

File structure :
------------------
1 - Block Content
    1.1 - Title
    1.2 - Text
------------------
2 - Data Layout 
    2.1 - Data Container
    2.2 - Data Card (single)
        Tablet Layout
        Mobile Layout
        Desktop Layout
        Huge Layout
    2.3 - Data Image

*/
.blk-data .grid-title {
  margin-bottom: 3rem;
}

@media screen and (min-width: 35rem) {
  .blk-data .grid-title {
    margin-bottom: 4rem;
  }
}

@media screen and (min-width: 35rem) and (min-width: 59rem) {
  .blk-data .grid-title {
    margin-bottom: 10rem;
  }
}

@media screen and (min-width: 35rem) {
  .blk-data h2 {
    max-width: 8ch;
  }
}

.blk-data .data-text {
  font-size: 1.25rem;
  line-height: 1.5;
}

.blk-data .data-text > * {
  margin: 0;
}

.blk-data .data-text > a {
  display: inline-block;
  margin-top: 1rem;
}

.blk-data .data-loop {
  display: flex;
  flex-flow: column nowrap;
  margin: auto;
}

@media screen and (min-width: 47rem) {
  .blk-data .data-loop {
    flex-flow: row nowrap;
    justify-content: flex-start;
  }
}

.blk-data .data-card {
  flex: 1 0 0;
}

@media screen and (max-width: 47rem) {
  .blk-data .data-card {
    max-width: 18rem;
    margin-top: 4rem;
  }
}

@media screen and (max-width: 47rem) and (max-width: 35rem) {
  .blk-data .data-card:first-child {
    margin-top: 0;
  }
}

@media screen and (min-width: 47rem) {
  .blk-data .data-card {
    max-width: unset;
    padding: 0 0.5rem;
  }
  .blk-data .data-card:first-child {
    padding-left: 0;
  }
  .blk-data .data-card:last-child {
    padding-right: 0;
  }
}

@media screen and (min-width: 47rem) and (min-width: 59rem) {
  .blk-data .data-card {
    max-width: unset;
    padding: 0 2rem;
  }
}

.blk-data .data-img-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;
  width: 100%;
  margin-bottom: 1rem;
}

@media screen and (min-width: 47rem) {
  .blk-data .data-img-container {
    height: 3.25rem;
  }
}

/*

Gutenberg Bloc Data [template-parts/block/data.php]

File structure :
------------------
1 - Block Settings
    1.1 - Color Background
    1.2 - Pattern Background
------------------
2 - Title
    2.1 - Blue Background
    2.2 - White words
    2.3 - Button
*/
#blk-contact {
  background-color: #FFC2C2;
  background-image: url(./image/bg-contact.svg);
  background-position: center center;
  background-repeat: no-repeat;
  padding-top: 4rem;
  padding-bottom: 4rem;
}

@media screen and (min-width: 47rem) {
  #blk-contact {
    padding-top: 5rem;
    padding-bottom: 5rem;
  }
}

@media screen and (min-width: 47rem) and (min-width: 76rem) {
  #blk-contact {
    background-size: cover;
    padding-top: 8rem;
    padding-bottom: 8rem;
  }
}

#blk-contact h2 {
  color: #00FFFF;
  margin: 0;
  margin-bottom: 2rem;
  line-height: 1.3;
  display: inline;
  background-color: #2142FF;
}

#blk-contact h2 > span {
  color: white;
}

#blk-contact a {
  margin-top: 1.5rem;
}

/*

Gutenberg Bloc Listing Casestudy [template-parts/block/lisiting-casestudy.php]

File structure :
------------------
/* 1 - Block Layout
    1.1 Vertical spacing (title + listing)
------------------
 2 - Content
    2.1 - Title
    2.2 - Description
    2.3 - Casestudy title
    2.4 - Links
    2.5 - Button
*/
/* 1 - Block Layout
------------------*/
.blk-listing-casestudy {
  /* 2 - Content
    ------------------*/
  /*
    a {
        &:hover,
        &:focus {

            //color: lighten($leksi-blue, 15);
            //color: $leksi-green;
            color: $leksi-green;
        }

        &:active {
            color: $leksi-blue;
        }
    }
    */
}

.blk-listing-casestudy > div:nth-of-type(1),
.blk-listing-casestudy .grid-regular > article {
  margin-bottom: 3rem;
}

@media screen and (min-width: 47rem) {
  .blk-listing-casestudy > div:nth-of-type(1),
  .blk-listing-casestudy .grid-regular > article {
    margin-bottom: 5rem;
  }
}

@media screen and (max-width: 47rem) {
  .blk-listing-casestudy .grid-regular {
    grid-row-gap: 1rem;
  }
}

.blk-listing-casestudy .small-title {
  max-width: 7ch;
}

@media screen and (min-width: 35rem) and (max-width: 47rem) {
  .blk-listing-casestudy article {
    margin-top: 2rem;
  }
}

.blk-listing-casestudy h3 {
  margin: 0;
}

@media screen and (min-width: 47rem) {
  .blk-listing-casestudy h3 {
    margin-bottom: 1rem;
  }
}

.blk-listing-casestudy .wrapper-medium {
  text-align: center;
}

.blk-listing-casestudy .wrapper-medium > * {
  text-align: left;
}

.blk-listing-casestudy a {
  display: inline-block;
}

.blk-listing-casestudy a.margin-top {
  margin-top: 1rem;
}

.blk-listing-casestudy a.button-ghost {
  font-weight: 700;
  font-size: 1.25rem;
}

@media screen and (min-width: 59rem) {
  .blk-listing-casestudy a.button-ghost {
    font-size: 2rem;
  }
}

/*

Gutenberg Bloc References (Clients) [template-parts/block/reference.php]

File structure :
------------------
1 - Block Content
    1.1 - Bloc Title
    1.2 - Reference listing
    1.3 - Single Reference

*/
.blk-reference h2 {
  margin-top: 0;
  margin-bottom: 2rem;
}

.blk-reference .reference-container {
  display: grid;
  grid-gap: 1.5rem;
  grid-template-columns: repeat(auto-fill, 8.75rem);
}

@media screen and (max-width: 25rem) {
  .blk-reference .reference-container {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media screen and (max-width: 25rem) and (max-width: 18.75rem) {
  .blk-reference .reference-container {
    grid-template-columns: 1fr 1fr;
  }
}

.blk-reference .reference-container > div {
  color: #fff;
  background-color: #fff;
  display: flex;
  align-items: center;
  overflow: hidden;
  position: relative;
  cursor: text;
}

.blk-reference .reference-container > div:hover, .blk-reference .reference-container > div:focus, .blk-reference .reference-container > div:active {
  background-color: #1500FF;
  transition: 0.2s all;
}

.blk-reference .reference-container > div:hover .appear-on-hover, .blk-reference .reference-container > div:focus .appear-on-hover, .blk-reference .reference-container > div:active .appear-on-hover {
  opacity: 1;
}

.blk-reference .reference-container > div:hover img,
.blk-reference .reference-container > div:hover picture, .blk-reference .reference-container > div:focus img,
.blk-reference .reference-container > div:focus picture, .blk-reference .reference-container > div:active img,
.blk-reference .reference-container > div:active picture {
  opacity: 0;
}

.blk-reference .reference-container > div * {
  transition: 0.2s all;
}

.blk-reference .reference-container > div a {
  padding: 0;
}

.blk-reference .reference-container > div img,
.blk-reference .reference-container > div picture {
  display: block;
  width: 100%;
  height: auto;
  line-height: 0;
  margin: 0;
  opacity: 1;
}

.blk-reference .reference-container > div .appear-on-hover {
  position: absolute;
  left: 0;
  top: 50%;
  opacity: 0;
  transform: translate(0, -50%);
}

.blk-reference .reference-container > div p {
  text-align: center;
  margin: auto;
  line-height: 1.2;
  width: 100%;
}

/*

Gutenberg Bloc Data [template-parts/block/temoignage.php]

File structure :
------------------
1 - Block Content


*/
.blk-testimonial {
  background-image: url(./image/bg-lines.svg), url(./image/bg-lines.svg);
  background-repeat: no-repeat;
  background-color: #2142FF;
  background-size: 15.625rem;
  padding-top: 4rem;
  padding-bottom: 4rem;
  background-position: bottom center, top center;
}

@media screen and (min-width: 35rem) {
  .blk-testimonial {
    background-position: bottom left, top right;
  }
}

@media screen and (min-width: 35rem) and (min-width: 59rem) {
  .blk-testimonial {
    background-size: 34.375rem;
    padding-top: 8rem;
    padding-bottom: 8rem;
  }
}

@media screen and (min-width: 35rem) and (min-width: 59rem) and (min-width: 76rem) {
  .blk-testimonial {
    padding-top: 10rem;
    padding-bottom: 10rem;
  }
}

.blk-testimonial h2 {
  margin-bottom: 2rem;
}

@media screen and (min-width: 47rem) {
  .blk-testimonial h2 {
    max-width: 8ch;
  }
}

.blk-testimonial .testimonial-container > div {
  margin: 0;
  margin-bottom: 2rem;
}

.blk-testimonial .testimonial-container > div:first-child {
  padding-top: 2rem;
}

@media screen and (min-width: 47rem) {
  .blk-testimonial .testimonial-container > div {
    margin-bottom: 4rem;
  }
}

.blk-testimonial .testimonial-container > div:last-child {
  margin-bottom: 0;
}

.blk-testimonial .testimonial-container > div > h3 {
  margin: 0;
  margin-top: 0.5rem;
  margin-bottom: 0.25rem;
}

/*

Gutenberg Bloc Team [template-parts/block/equipe.php]

File structure :
------------------
1 - Block Content


*/
.blk-team h2 {
  margin: auto;
  margin-bottom: 2rem;
}

@media screen and (min-width: 35rem) {
  .blk-team h2 {
    margin-bottom: 5rem;
  }
}

@media screen and (min-width: 35rem) and (min-width: 47rem) {
  .blk-team h2 {
    margin-bottom: 6rem;
  }
}

.blk-team .grid-regular {
  grid-row-gap: 2rem;
}

@media screen and (min-width: 35rem) {
  .blk-team .grid-regular {
    grid-row-gap: 4rem;
  }
}

@media screen and (min-width: 35rem) and (min-width: 47rem) {
  .blk-team .grid-regular {
    grid-row-gap: 2rem;
    grid-column-gap: 1rem;
  }
}

@media screen and (min-width: 35rem) and (min-width: 47rem) and (min-width: 59rem) {
  .blk-team .grid-regular {
    grid-column-gap: 3.5rem;
  }
}

@media screen and (min-width: 35rem) and (min-width: 47rem) and (min-width: 59rem) and (min-width: 76rem) {
  .blk-team .grid-regular {
    grid-column-gap: 7rem;
  }
}

.blk-team .portrait-header {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: flex-start;
  margin-bottom: 1rem;
}

@media screen and (min-width: 35rem) {
  .blk-team .portrait-header {
    margin-bottom: 2rem;
  }
}

.blk-team .portrait-picture {
  display: inline-block;
  margin-right: 1rem;
}

.blk-team .portrait-info {
  display: inline-block;
}

.blk-team .portrait-info > * {
  display: block;
  margin-top: 0;
  margin-bottom: 0.1rem;
}

.blk-team .portrait-info > a {
  margin-top: 1rem;
}

/*

Gutenberg Bloc Podcast [template-parts/block/podcast.php]

File structure :
------------------
1 - Block Content

*/
.blk-podcast .podcast-header {
  height: 100%;
  min-height: 6rem;
}

@media screen and (min-width: 35rem) {
  .blk-podcast .podcast-header {
    min-height: 10rem;
  }
}

@media screen and (min-width: 23rem) {
  .blk-podcast .podcast-header .podcast-thumbnail {
    float: left;
    height: 6rem;
    width: 6rem;
  }
}

@media screen and (min-width: 23rem) and (min-width: 35rem) {
  .blk-podcast .podcast-header .podcast-thumbnail {
    height: 10rem;
    width: 10rem;
  }
}

.blk-podcast .podcast-header .podcast-thumbnail * {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.blk-podcast .podcast-title {
  padding: 1rem;
}

@media screen and (min-width: 23rem) {
  .blk-podcast .podcast-title {
    padding-left: 7rem;
  }
}

@media screen and (min-width: 23rem) and (min-width: 35rem) {
  .blk-podcast .podcast-title {
    padding-left: 11rem;
  }
}

.blk-podcast .podcast-title > *:last-child {
  margin-bottom: 0;
}

.blk-podcast .podcast-title > *:first-child {
  margin-top: 0;
}

.blk-podcast .podcast-title h2 {
  margin-bottom: 1rem;
}

.blk-podcast nav a {
  margin-right: 1.5rem;
  margin-top: 1rem;
}

@media screen and (max-width: 35rem) {
  .blk-podcast nav a {
    display: block;
  }
}

/*

Gutenberg Bloc Data [template-parts/block/data.php]

File structure :
------------------
1 - Block Layout

2 - 


blk-contact

*/
.blk-banner {
  text-align: center;
  padding-top: 7rem;
  padding-bottom: 7rem;
  background-color: #FFC2C2;
  background-image: url(./image/bg-banner-left.svg), url(./image/bg-banner-right.svg);
  background-position: bottom left, top right;
  background-repeat: no-repeat;
}

@media screen and (min-width: 23rem) {
  .blk-banner {
    padding-top: 8rem;
    padding-bottom: 8rem;
  }
}

@media screen and (min-width: 47rem) {
  .blk-banner {
    padding-top: 5rem;
    padding-bottom: 5rem;
    background-position: top left, top right;
    background-repeat: repeat-y;
  }
}

.blk-banner .line-underlined {
  margin: auto;
  max-width: 16ch;
}

.blk-banner .line-underlined > span {
  display: inline;
  font-family: 'Cosi', 'Roboto', 'Arial', sans-serif;
}

.blk-banner .line-underlined > span::after {
  background-color: #fff;
}

.blk-banner a {
  margin-top: 1.5rem;
}

/*

Gutenberg Bloc Data [template-parts/block/data.php]

File structure :
------------------
1 - Block Layout

2 - 


blk-contact

*/
#blk-newsletter {
  position: relative;
  background-color: #2142FF;
  background-image: url(./image/bg-newsletter-left.svg), url(./image/bg-newsletter-right.svg);
  background-position: bottom left, top right;
  background-repeat: no-repeat;
  padding-top: 4rem;
  padding-bottom: 4rem;
}

#blk-newsletter #newsletterMessage {
  display: none;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, 0%);
  box-sizing: border-box;
  width: 70vw;
  max-width: 44rem;
  z-index: 100;
  transition: opacity .4s;
}

#blk-newsletter.form-sent #newsletterMessage {
  display: block;
  opacity: 1;
}

#blk-newsletter.form-sent #footer-newslettter-form {
  opacity: 0;
}

@media screen and (min-width: 47rem) {
  #blk-newsletter {
    padding-top: 5rem;
    padding-bottom: 5rem;
    background-position: top left, top right;
    background-repeat: repeat-y;
  }
}

#blk-newsletter .layout {
  display: grid;
  grid-template-columns: 1fr;
  margin-bottom: 2rem;
}

@media screen and (max-width: 25rem) {
  #blk-newsletter .layout input.margin-b {
    margin-bottom: 2rem;
  }
}

@media screen and (min-width: 25.0625rem) {
  #blk-newsletter .layout {
    grid-template-columns: auto 10rem;
  }
  #blk-newsletter .layout label {
    grid-column: 1;
  }
  #blk-newsletter .layout input {
    grid-column: 1;
  }
  #blk-newsletter .layout input.button-green {
    grid-column: 2;
  }
}

#blk-newsletter h2 {
  margin-bottom: 2rem;
}

#blk-newsletter h2.line-underlined span::after {
  background: #fff;
}

/*

Gutenberg Bloc Data [template-parts/block/data.php]

File structure :
------------------
1 - Block Settings
    1.1 - Color Background
    1.2 - Pattern Background
------------------
2 - Title
    2.1 - Blue Background
    2.2 - White words
    2.3 - Button

*/
#blk-banner-podcast {
  background-color: #FFC2C2;
  background-image: url(./image/bg-podcast.svg);
  background-position: bottom center;
  background-repeat: no-repeat;
}

#blk-banner-podcast h2 {
  color: #00FFFF;
  margin: 0;
  margin-bottom: 2rem;
  line-height: 1.3;
  display: inline;
  background-color: #2142FF;
}

#blk-banner-podcast h2 > span {
  color: white;
}

#blk-banner-podcast a {
  margin-top: 1.5rem;
}

/* Editor stylesheet */
/*

Editor Stylesheet : Wordpress Administration style

*/
.editor-styles-wrapper {
  font-weight: 400;
  font-size: 1rem;
  color: #2142FF;
  line-height: 1.5;
  font-family: 'Europa', 'Roboto', 'Arial', sans-serif;
}

@media screen and (min-width: 59rem) {
  .editor-styles-wrapper {
    font-size: 1rem;
  }
}

.wp-block,
.wp-block[data-align="wide"],
.wp-block[data-align="full"] {
  max-width: 90%;
  width: 90%;
}
