/*

Style Breadcrumb [#nav-breadcrumb]

File Structure :

1 - Breadcrumb container
  1.2 - Breadcrumb list
  1.3 - Breadcrumb items
  1.4 - Breadcrumb link

*/

// 1 - Breadcrumb container
#nav-breadcrumbs {
  font-size: pixel(14);
  margin : 0;
  padding: 0; 

  // 1.2 - Breadcrumb list
  #breadcrumbs {
    margin : 0;
    padding: 0; 
    list-style: none;

    // 1.3 - Breadcrumb items
    li {
      margin: 0;
      padding: 0;
      display: inline-block;
      margin-right: 2.5em;
      position: relative;
      word-break: break-word;
      &:last-of-type {
        display: inline;
      }
    
      // Create separation with ::after
      &::after {
          @include font-weight(regular);
          position: absolute;
          content:"/";
          height: 100%;
          top: 0;
          right: -1.5em;
      }

      // First link is underlined
      &:first-child > a {
        @include font-weight(bold);
        text-decoration: underline;
      }

      // last item has no separation
      &:last-child {
        &::after {
          display: none;
        }
      }
    }

    // 1.4 - Breadcrumb link
    a {
      @include link-default;
      text-decoration: none;
    }
  }
}

.leksi-blue-bg #nav-breadcrumbs {
  color: $leksi-green;
}