/*

Style content [#content]

File structure :
------------------
1 - Wrapper settings
  1.1 : Wrapper
  1.2 :  Wrapper Size Medium (width)
  1.2 :  Wrapper Size Small (width)
------------------
2 - Vertical Rythm (padding) 
  2.1 : Vertical Padding Regular
  2.2 : Vertical Padding Small
------------------
3 - Link style
  3.1 - Link-default
  3.2 - Link Primary
  3.3 - Button primary
  3.4 - Button ghost
  3.5 - Button cta
  3.6 - Social Icons
  3.7 - Discrete Link
------------------
4 - Entry Content
  4.1 - Entry-content global
  4.2 - No useless margin
  4.3 - Entry-content blockquote
  4.4 - Entry-content : List style (ul + ol) 
  4.5 - Entry-content : List variant (ol only)
-------------------
5 - Video Container
  5.1 - Video thumbnail size
  5.2 - Video icon
  5.3 - Interactivity

*/

/* 1 - Wrapper settings
------------------ */

//1.1 : Wrapper (horizontal padding)
@mixin wrapper {
  width: 100%;
  box-sizing: border-box;
  @include spacing(padding-left, $wrapper-padding);
  @include spacing(padding-right, $wrapper-padding);
  //max-width: $wrapper;
  > img,
  > picture {
    max-width: 100%;
    height: auto;
    margin: auto;
  }
}
.wrapper {
  @include wrapper;
}

// 1.2 : Wrapper Size Medium (width)
.wrapper-medium {
  box-sizing: border-box;
  @include spacing(max-width, $wrapper-medium-width);
  margin: auto;
}

// 1.3 : Wrapper Size Small (width)
.wrapper-small {
  box-sizing: border-box;
  max-width: $wrapper-small-width;
  margin: auto;
}

/*1.2 : Narrow-wrapper
@mixin narrow-wrapper {
  margin: auto;
  width: 100%;
  box-sizing: border-box;
  @include spacing(padding-left, $wrapper-padding);
  @include spacing(padding-right, $wrapper-padding);
  max-width: $narrow-wrapper;
}

.narrow-wrapper {
  @include narrow-wrapper;
}
*/

/* 2 - Vertical Rythm 
------------------ */

//2.1 : Vertical Padding Regular
@mixin v-padding-regular {
  @include spacing( padding-top, $vertical-padding-regular );
  @include spacing( padding-bottom, $vertical-padding-regular );
}

.v-padding-regular {
  @include v-padding-regular;
}

//2.2 : Vertical Padding Small
@mixin v-padding-small {
  @include spacing( padding-top, $vertical-padding-small );
  @include spacing( padding-bottom, $vertical-padding-small);
}

.v-padding-small {
  @include v-padding-small;
}

//2.3 : Vertical Padding Medium
@mixin v-padding-medium {
  @include spacing( padding-top, $vertical-padding-medium );
  @include spacing( padding-bottom, $vertical-padding-medium);
}

.v-padding-medium {
  @include v-padding-medium;
}


/* 3 - Link
------------------ */

// 3.1 - Link-default (not for blue or red background)
@mixin link-default {
  transition: .2s color;
  color: inherit;
  padding-left: 0.25em;
  padding-right: 0.25em;
  &:link,
  &:visited {
      color: inherit;
  }
  &:hover,
  &:focus,
  &:focus-within,
  &:active {
    color: $white;
    background-color: $leksi-navy;
  }
  &:focus-visible {
    outline-color: $leksi-green;
  }
}

a,
.link-default {
  @include link-default;
}

// 3.2 - Button interactive states (universal)
@mixin button-interactivity {
  transition: all .2s;
  cursor: pointer;
  &:hover,
  &:focus,
  &:focus-within,
  &:active {
    color: $white;
    background-color: $leksi-navy;
  }
  &:focus-visible {
    outline-color: $leksi-green;
  }
}

// 3.3 - Button primary
@mixin button {
  @include button-interactivity;
  display: inline-block;
  text-decoration: none;
  @include font-weight(bold);
  border: 1px solid transparent;
  background-color: $white;
  padding: 0.5em 0.85em;
  min-width: 4em;
}

.button,
.button-big {
  @include button;
}

.button-big {
  @include font-size(h5);
}

// 3.4 - Button ghost
@mixin button-ghost {
  @include button-interactivity;
  margin: auto;
  text-decoration: none;
  color: inherit;
  border: 2px solid currentColor;
  background-color: transparent;
  padding: 0.5em 0.85em;
  line-height: 1;
  min-width: 4rem;
  cursor: pointer;
}
.button-ghost {
  @include button-ghost;
}

// 3.5 - Button green
@mixin button-green {
  background-color: $leksi-green;
  color: $leksi-blue;
  cursor: pointer;
  @include button-interactivity;
}
.button-green {
  @include button-green;
}

// 3.6 - Button blue
@mixin button-blue {
  background-color: $leksi-blue;
  color: $white;
  cursor: pointer;
  @include button-interactivity;
}
.button-blue {
  @include button-blue;
}



// 3.7 - Social Icons
// Used in footer and post-infos
@mixin link-icon {
  transition: background-color .2s;
  text-decoration: none;
  line-height: 0;
  display: inline-block;
  padding-left: 0;

  &:link,
  &:visited {
      background-color: transparent;
  }

  * {
    vertical-align: middle;
    display: inline-block;
    line-height: 1;
    margin: 0;
  }

  p {
    margin-left: 0.25em;
    margin-right: 0.25em;
  }
}

@mixin link-icon-regular {
  &:hover,
  &:focus,
  &:active {
    color: $black;
    background-color: $white;
    * {
      filter: brightness(0);
    }
  }
}

@mixin link-icon-variant {
  padding-right: 0;
  &:hover,
  &:focus,
  &:active {
    color: $black;
    background-color: $leksi-blue;
    * {
      filter: brightness(10);
    }
  }
}

a.link-icon {
  @include link-icon;
  @include link-icon-regular;
}


.link-icon-variant {
  @include link-icon;
  @include link-icon-variant;
}

// 3.7 - Discrete Link
// Link similar to standard text
.discrete-link {
  color: inherit;
  &:link,
  &:visited,
  a:link,
  a:visited {
    text-decoration: none;
  }
}

/* 4 - Entry Content
----------------- */

// 4.1 - Entry-content global
@mixin entry-content {
  //font-size: inherit;
  color: inherit;
  line-height: $lh-standard;
  @include no-useless-margin;

  em {
    text-decoration: underline;
    font-style: normal;
  }

  ul, ol {
    @include entry-content-list;
  }

  ol {
    @include entry-content-ol;
  }
  
  a {
    @include link-default ;
  }
}

// 4.2 - No useless margin
@mixin no-useless-margin {
  > * {
    &:last-child {
      margin-bottom: 0;
    }
    &:first-child {
      margin-top: 0;
    }
  }
}


// 4.4 - Entry-content : List style (ul + ol) 
@mixin entry-content-list {
  margin: 2rem auto;
  //padding: 0 0 0 2em; // t r b l
  li {
    margin-bottom: 0.5em;
    list-style: square inside;
    &:last-of-type {
      margin-bottom: 0;
    }
  }
}

// 4.5 - Entry-content : List varaint (ol only) 
@mixin entry-content-ol {
  li {
    list-style: decimal inside;
  }
}

.entry-content {
  @include entry-content;
}

// 5.1 : Video Button
.btn-modale {
  display: block;
  line-height: 0;
  text-align: center;
  position: relative;
  transition: all .2s;

  // 5.1 : Video thumbnail size
  img,
  picture,
  figure {
    line-height: 1;
    width: 100%;
    max-width: $wrapper-small-width;
    height: auto;
    opacity: 1;
    transition: opacity .2s;
  }

  // 5.2 : Video icon
  &::after {
    position: absolute;
    content:"";
    top: 50%;
    left: 50%;
    transform : translate(-50%, -50%);
    width: 4rem;
    height: 4rem;
    border-radius: 2rem;
    border: 2px solid white;
    background: url(./image/player.svg) center center no-repeat;
    background-color: transparent;
    opacity: 1;
    transition: all .2s;
  }

  // Interactivity
  &:hover,
  &:focus,
  &:active {
    // Icon changes
    &::after {
      background-color: $leksi-blue;
      border-color: $leksi-blue;
    }
    // Thumbnail changes
    img,
    picture,
    figure {
      opacity: 0.5;
    }
  }

}

/* 6 - GRID  */

.grid-regular,
.grid-title {
  display: grid;
  grid-column-gap: 1rem;
  grid-row-gap: 2rem;
  @include no-useless-margin;

  // 6.1.1 - Mobile Layout
  grid-template-columns: 1fr;

  // 6.1.2 - Desktop Layout
  @media screen and (min-width: $col_6_width) {
    grid-template-columns: 1fr 1fr;
    @media screen and (min-width: $col_12_width) {
      grid-column-gap: 7rem;
    }
  }
}

// 6.2 - Title Grid :

.grid-title {
  h2 {
    margin: 0;
  }
}

// 6.3 - Listing Grid 

.grid-listing {
  display: grid;
  grid-column-gap: 1rem;
  // grid-row-gap: 2rem;
  @include no-useless-margin;

  // 6.1.1 - Mobile Layout
  grid-template-columns: 1fr;
  //grid-auto-rows: minmax(0px, auto);

  // 6.1.2 - Desktop Layout
  @media screen and (min-width: $col_8_width) {
    grid-template-columns: 1fr 1fr;
    @media screen and (min-width: $col_16_width) {
      grid-template-columns: 2fr 3fr;
      grid-column-gap: 7rem;
    }
  }
}

.grid-post {
  display: grid;
  grid-column-gap: 1rem;
  grid-row-gap: 2rem;
  @include no-useless-margin;

  // 6.1.2 - Desktop Layout
  @media screen and (min-width: $col_6_width) {
    grid-template-columns: 1fr 1fr;
    grid-row-gap: 5rem;
    @media screen and (min-width: $col_12_width) {
      grid-column-gap: 10rem;
    }
  }
}