/*

Style Footer [footer.php]

File structure :
------------------
1 - Footer layout
    1.1 Layout Mobile
    1.2 Layout Tablet
    1.3 Layout Desktop
    1.4 Layout Huge
------------------
2 - Content
    2.1 - Links style
    2.2 - Footer logo
    2.3 - Footer-nav
    2.4 - Footer-social
    2.5 - Footer-adress
        2.5.1 - Titles
    2.6 - Footer-privacy
    2.7 - Copyright
*/

/*1 - Footer layout
------------------ */
#footer {

    padding-top: 4rem;
    padding-bottom: 4rem;
    font-size: pixel(18);

    #footer-layout {
        // 1.1 Layout Mobile
        display: grid;
        grid-row-gap: 2rem;
        grid-column-gap: 1rem;
        grid-auto-rows: minmax(5px, auto );
        grid-template-columns: 1fr;
        grid-template-areas: 
            "logo"
            "nav"
            "social"
            "adress"
            "privacy";
        // 1.2 Layout Tablet
        @media screen and (min-width: $col_6_width) {
            grid-template-columns: repeat(2, 1fr);
            grid-template-areas: 
            "logo   nav"
            "adress nav"
            "adress social"
            "privacy social";
            // 1.3 Layout Desktop
            @media screen and (min-width: $col_10_width) {
                grid-template-columns: 3fr 2fr 2fr 2fr;
                grid-template-areas: 
                "logo nav social adress"
                "logo nav social privacy";
                // 1.4 Layout Huge
                @media screen and (min-width: $col_12_width) {
                    grid-template-columns: 5fr 2fr 2fr 3fr;
                    @media screen and (min-width: $col_14_width) {
                        grid-template-columns: 5fr 2fr 2fr 3fr;
                    }
                }
            }

        }
    }

    /* Links style */
    ul {
        list-style: none;
        padding: 0;
        margin: 0;
    }

    a {
        text-decoration: none;
    }

    /* 1.2 - Footer-logo */
    #footer-logo {
        @include font-weight(bold);
        font-size: pixel(24);
        line-height: $lh-small;
        grid-area: logo;
        p {
            margin-top: 1.5rem;
            max-width: 14ch;
        }

    }

    /* 1.3 - Footer-nav */
    #footer-nav {
        grid-area: nav;
        //line-height: 190%;
        li {
            margin-bottom: 0.5rem;
        }
    }

    /* 1.4 - Footer-social */
    #footer-social {
        grid-area: social;
        h2 {
            letter-spacing: pixel(1);
            margin: 0;
            margin-bottom: 0.5rem;
        }
    }

    /* 1.5 - Footer-adress */
    #footer-adress {
        grid-area: adress;
        h2 {
            letter-spacing: pixel(1);
            margin: 0;
            margin-bottom: 0.5rem;
        }
        p {
            margin: 0;
        }
    }

        /* 1.5.1 - Titles */
        #footer-social,
        #footer-adress {
            h2 {
                letter-spacing: pixel(1);
                margin: 0;
                margin-bottom: 0.5rem;
            }
        }

    /* 1.6 - Footer-privacy */
    #footer-privacy {
        grid-area: privacy;
    }

    /* 1.7 - Copyright */
    #copyright {
        @media screen and (max-width: $col_8_width) {
            margin-top: 2rem;
        }
    }
}




