/*

Style Topbar [header.php]

File structure :
------------------
1 - Topbar settings
------------------
2 - Mobile Menu
    2.1 : Menu Layout : hidden
    2.2 : Menu layout : visible
    2.3 : Links Style   
    2.4 : Close button
    2.5 : Burger button
------------------
3 - Menu Desktop
  3.1 - Menu Layout
  3.2 - Links style
------------------
4 - x

*/


/* 1 - Topbar settings
------------------ */

#topbar-height {
    width: 100%;
    height: 2rem;
}

#topbar {
    width: 100%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    z-index : $index-navigation;
    float: left;
   
    background: $white;
    height: 4rem;
    // 1.1 - Topbar Sticky
    &.sticky {
        position: fixed;
        top: 0;
        left: 0;
    }

    #menu {
        z-index : $index-navigation;
    }

    // 1.2 - Link home
    #topbar-logo {
        display: block;
        position: relative;
        line-height: 0;
        transform: translate(0%, 0%); // for mobile menu animation
        z-index: $index-navigation + 1;     

        &:hover,
        &:focus,
        &:focus-within,
        &:active {
          color: $leksi-blue;
          background-color: $leksi-navy;
          > * {
            filter: brightness(10);
          }
        }
    }

     // 1.3 - First logo (blue logo)
     #logo-regular,
     #logo-scroll,
     #logo-alternative {
        display: inline-block;
        margin: 0;
        @include font(text, bold);
        line-height: $lh-standard;
     }

     #logo-regular,
     #logo-scroll {
        color: $leksi-blue;
     }


     // 1.4 - Second logo (#logo-alternative : pink logo for mobile menu) & third logo (#logo-scroll for scrolling homepage)
     #logo-scroll,
     #logo-alternative{
        position: absolute;
        top: 0;
        left: 0;
        opacity: 0;
        color: $leksi-pink;
    }

    // 1.5 - List settings
    ul.primary {
        box-sizing: border-box;
        list-style: none;
        margin: 0;
        padding: 0;
        color: inherit;
        a {
            color: inherit;
            @include link-default;
            text-decoration: none;
        }
    }

    // 1.6 - Current Page Link
    // Curennt link is undelined
    .current-menu-item > a,
    .current-menu-ancestor > a {
        position: relative;
        &::after {
            position: absolute;
            content: "";
            height: 2px;
            width: 100%;
            bottom: -2px;
            left: 0;
            background: $leksi-pink;
        }
    }

    // 1.7 - Buttons (burger + close)
    #menu-buttons {
        position: relative;
        button {
            position: absolute;
            //left: 50%;
            right: 0;
            top: 50%;
            //transform: translate( -50%, -50% );
            transform: translate(0, -50%);
            background-color: transparent;
            outline: none;
            border: none;
            cursor: pointer;
            transition: background-color .2s;
            padding: 0.35rem 0.25rem;
            line-height: 0;
            
            &:hover,
            &:focus,
            &:focus-within {
                background-color : rgba($leksi-pink, 0.5);
            }
            &:active {
                background-color : rgba($leksi-pink, 0.5);
            }
        }
    }

    // 1.8 - Transition time
    #logo-regular,
    #logo-alternative,
    #topbar-logo,
    #burger-menu,
    #close-menu {
        transition: all .4s;
    }
}
    

/* 2 -  Mobile Menu
------------------ */
@media screen and (max-width: $tablet-width - 0.01rem) {

    // 2.1 : Menu Layout : hidden
    #topbar {

        ul.primary {
            position: fixed;
            top: 0;
            padding: 5rem 1rem;
            left: 0;
            width: 100%;
            //max-width: 100vw;
            height: 100%;
            transform: translate(-100%, 0%);
            transition: all 0.4s;
            margin: 0;

            background: $leksi-navy;
            color: $white;
            font-size: pixel(24);
            line-height: $lh-big;
            @include font-weight(bold);
            text-align: center;

            display: flex;
            flex-direction: column;
            justify-content: center;
        }

        #close-menu {
            opacity: 0;
            z-index: -1;
        }
    }

    // 2.2. Menu layout : visible
    #topbar.menu-open,
    #menu:focus {

        // 2.2.A : logo animation
        // Blue logo disappears
        #logo-regular,
        #logo-scroll {
            opacity: 0;
        }
        // Pink logo appears
        #logo-alternative {
            opacity: 1;
            left: -25%;
        }

        #topbar-logo {
            margin-left: - map-get($wrapper-padding, $tablet_width);
            transform: translate(50vw, 0%);
        }

        // 2.2.B : Button animation
        #burger-menu {
            opacity : 0;
            z-index: -1;
        }

        #close-menu {
            opacity: 1;
            z-index: 1;
        }

        // 2.2.C : Links animation
        ul.primary {
            opacity: 1;
            transform: translate(0%, 0%);
        }
    }

    #topbar.menu-open {
        position: fixed;
        top: 0;
        left: 0;
        //padding-top: 3.25rem;
        height: unset;

        #topbar-logo,
        #burger-menu,
        #close-menu {
            top: 3.25rem;
        }
    }

    #topbar.menu-open.sticky {
        height: 4rem;
        #topbar-logo,
        #burger-menu,
        #close-menu {
            top: 0;
        }
    }

}

/* 3 - Menu Desktop
------------------ */

@media screen and (min-width: $tablet-width) {
    // 3.1 - Menu Layout
    ul.primary {
        font-size : pixel(18);
        // 3.2 - Links spacing
        > li {
            display: inline-block;
            margin-left: 2rem;
        }
    }
}

/* 5 - Header Home Variant 
------------------ */
#topbar.header-home {
    background: transparent;
    color: $white;
    transition: all .4s ;

    &:not(.sticky) {
        
        #topbar-logo,
        a {
            &:hover,
            &:focus,
            &:active {
                background: $white;
                color: $leksi-blue;
                > * {
                    filter: none;
                }
            }
        }
    }

    &.sticky {
        color: $leksi-blue;
        background-color: $white;

        #logo-regular {
            opacity: 0;
        }
        #logo-scroll {
            opacity: 1;
        }
    }

    &.sticky.menu-open {
        #logo-scroll {
            opacity: 0;
        }
    }
}

#content {
    padding-top: 5rem; // equals topbar-height;
    z-index: 1;
}