/*

Style Pagination [inc/pagination]

File Structure :

1 - Pagination container
  1.2 - List
  1.3 - Items
  1.4 - link

*/

// 1 - Pagination container
.pagination {
  margin : auto;
  padding: 0; 
  text-align: center;

  // 1.2 - List
  ul {
    margin : 0;
    padding: 0; 
    list-style: none;

    // 1.3 - Items
    li {
      display: inline-block;
      @include font(paragraph, regular);
      cursor: pointer;
      margin-right: 0.5rem;

      // Last item has no margin
      &:last-child {
        margin-right: 0;
      }

      // Previous and Next
      &.previous,
      &.next {
        @include font(h6, bold);
      }

      &.previous {
        margin-right: 2rem;
      }

      &.next {
        margin-left: 2rem;
        margin-right: 0;
      }

    }

    // 1.4 - Link
    .current-cat, 
    a {
      padding: 0.5em;
      text-decoration: none;
    }
  }
}