/*

Style Form components
! This style doesn't apply to Worpess Admin (see style-editor.scss) !

File structure :
------------------
1 - Form Layout
------------------
2 - Input Style
    2.1 - Submit
    2.2 - Checkbox (RGPD)
    2.3 - Message de validation

*/

// 1 - form Layout
form {

    display: flex;
    flex-flow: column nowrap;
    margin: auto;
    width: 100%;

    > #ResponseAnchor {
        display: block;
        text-align: center;
    }

    > label {
        margin-top: 0;
        margin-bottom: 0.25rem;
    }

    > input,
    > textarea {
        margin-bottom : 1rem;
        // Bigger space for mobile (touch screen)
        @media screen and (max-width: $tablet_width) {
            margin-bottom : 2rem;
        }
    } 

    i {
        font-style: normal;
    }
}

// 2 - Input Style
input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"],
input[type="number"],
input[type="tel"],
input[type="range"],
input[type="date"],
input[type="month"],
input[type="week"],
input[type="time"],
input[type="datetime"],
input[type="datetime-local"],
input[type="color"],
textarea {
    @include font(h6, regular);
    background-color: $leksi-cream;
    outline: none;
    border: 2px solid transparent;
    box-shadow: none;
    padding: 0.5em;
    // width: 100%;
    background-position: top 0.5em right 0.5em;
    background-repeat: no-repeat;
    background-size: 1em;
    transition: all .2s;

    &::placeholder {
        color: $gray-dark;
        opacity: 1;
        transition: all .2s;
    }

    &:not(:placeholder-shown) {

        &:invalid {
            background-color: $white;
            color: $red;
            border-color: $red;
            background-image: url(./image/form-error.svg);
        }
        &:not(:invalid) {
            color: $leksi-blue;
            background-image: url(./image/form-valid.svg);
        }
    }

    &:hover{
        border-color: $leksi-blue;
    }

    &:focus {
        background-color: $white;
        color: $leksi-blue;
        border: 2px solid $leksi-cream;
        border-color: $leksi-green;
        &::placeholder {
            opacity: 1;
        }
    }
}

// 2.3 - Message de validation
#ResponseAnchor {
    // Default state : input button is visible
    * {
        opacity: 1;
        transition: all .2s;
    }
    #ResponseMessage {
        opacity: 0;
    }
    // Message has been sent : #responseMessage is visible
    &.messageSent {
        * {
            opacity: 0;
        }
        #ResponseMessage {
            opacity: 1;
            transition-delay: 0.5s;
        }
    }
}
