/*

Post Archive and Blog : [templates/tpl-archive-blog.php] & [archive.php]

File structure

*/

/* 1 - Page Template */

#archive-header,
#categoryCasestudy {

    padding-bottom: 2rem;
    @media screen and (min-width: $col_6_width) {
        padding-bottom: 3rem;
        @media screen and (min-width: $col_10_width) {
            padding-bottom: 5rem;
        }
    }
}

/*
#casestudy-header {
    > h1,
    > div {
        margin-left: auto;
        margin-right: auto;
        //max-width: $wrapper-small-width;
        width: 100%;
    }
}
*/

#archive-header {

    // Wrapper Width
    > *:not(:first-child) {
        // Include all children but not the breadcrumb (:first-child)
        margin-left: auto;
        margin-right: auto;
        @include spacing(max-width, $wrapper-medium-width);
    }

    // Title
    > h1 {
        margin-top: 2rem;
        @media screen and (min-width: $col_6_width) {
            margin-top: 5rem;
            @media screen and (min-width: $col_10_width) {
                margin-top: 6rem;
            }
        }
    }
}


.archive-listing {
    // Container : listing + pagination
    @include spacing(padding-bottom, $vertical-padding-regular);
    .grid-post {
        @include spacing(padding-bottom, $vertical-padding-small);
    }
}



/* 2 - Archive nav */
.archive-nav {
    margin-top: 1rem;
    > *,
    > button.reset-style {
        margin-right: 1rem;
        &:last-child {
            margin-right: 0;
        }
    }
    @media screen and (max-width: $col_4_width) {
        text-align: left;
        > *,
        > button.reset-style {
            margin-top: 0.5rem;
            display: inline-block;
        }
    }
}

/* 2 - Post Card */
.bg-hover {
    transition: all .2s;
    border: 1px solid transparent;
    box-shadow:  0 0 $leksi-blue;
    
    &:hover,
    &:focus,
    &:focus-within,
    &:active {
       //color: $leksi-blue;
       //background-color: rgba($leksi-blue, 0.08);

       color: $leksi-blue;
       background-color: $white;

       box-shadow:  0.5rem 0.5rem $leksi-blue;
       @media screen and (min-width: $col_4_width) {
            box-shadow: 1rem 1rem $leksi-blue;
       }

       border-color: $leksi-blue;
       transform: translate(-0.5rem, -0.5rem);
        @media screen and (min-width: $col_4_width) {
            transform: translate(-1rem, -1rem);
        }
    }
} 

// Post Card on blue bg
#post-suggestions .bg-hover {
    box-shadow:  0 0 $black;
    &:hover,
    &:focus,
    &:focus-within,
    &:active {  
       background-color: $leksi-blue;
       color: $white;
       border-color: $black;
       box-shadow:  0.5rem 0.5rem $black;
       @media screen and (min-width: $col_4_width) {
            box-shadow: 1rem 1rem $black;
       }

       .is_podcast {
           color: $leksi-green;
       }
    }
} 

#post-suggestions .read-more {
    &:hover,
    &:focus,
    &:active {  
        color: $white;
        background-color: $leksi-blue;
        &::after {
            background-color: $leksi-pink;
        }
    }
}

.post-card {
    transition: all .2s;
    padding: 0;
    padding-bottom: 1rem;
    border-bottom: 2px solid transparent;
    text-decoration: none;

    *:focus,
    *::selection {
        background-color: $leksi-blue;
        color: $leksi-green;
    }

    /* 2.1 - Thumbnail */
    .card-thumbnail {

        width: 100%;
        height: auto;
        display: block;
        margin-bottom: 2rem;
        text-decoration: none;
        color: inherit;
        background-color: $leksi-navy;
        line-height: 0;
        
        &:hover,
        &:focus,
        &:active {
            > * {
                opacity: 0.85;
            }
        }

        * {
            display: inline-block;
            //line-height: $lh-standard;
            text-align: center;
            width: 100%;
            max-width: 100%;
            height: auto;
            object-fit: cover;
            transition: opacity .2s;
        }

        // Podcast icon
        &.is_podcast {

            position: relative;
            &::after {
                // Icon position
                position: absolute;
                right: 2rem;
                bottom: -2rem;

                // Content is centered
                content: url(./image/podcast.svg);
                display: flex;
                justify-content: center;
                align-items: center;

                // Icon style
                width: 4rem;
                height: 4rem;
                border-radius: 2rem;
                color: inherit;
                background: currentColor;
                transition: background-color .2s;
            }

            &:hover,
            &:focus,
            &:active {

                &::after {
                    background: $leksi-navy;
                }
            }
        }
    }

    .card-title {
        display: block;
        margin: 0;
        margin-bottom: 0.5rem;
        min-height: 2.5em;
    }

    .read-more {
        float: right;
    }
}

/* Category style */
.category-name {
    display: block;
    margin: 0;
    text-transform: uppercase;
    margin-bottom: 0.25rem;
    font-size: 0.875rem;
}

/* 3 - Author Name
.author-bloc {
    display: inline-block;
    .author-avatar {
        float: left;
        width: 3rem;
        height: 3rem;
        border-radius: 1.5rem;
        overflow: hidden;
    }
    .author-text {
        padding-left: 4rem;
        * {
            margin: 0;
        }
        time {
            margin-top: 0.25rem;
        }
    }
}
*/

/* 4 - Link "Lire l'article" */
.current-cat,
.read-more,
.read-more-blue {
    text-decoration : none;
    position: relative;
    padding-bottom: 0.25rem;
    &::after {
        content:"";
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 2px;
        color: inherit;
    }
}

.current-cat,
.read-more {

    &::after {
        background-color: $leksi-green;
    }

    &:hover,
    &:focus,
    &:focus-within,
    &:active {
      color: $leksi-navy;
      background-color: $leksi-green;
        &::after {
            background-color: $leksi-navy;
        }
    }
}

.read-more-blue {

    &::after {
        background-color: $leksi-blue;
    }

    &:hover,
    &:focus,
    &:active {
        &::after {
            background-color: $leksi-green;
        }
    }
}