/*

Post Archive and Blog : [templates/tpl-archive-casestudy.php]

*/

/* 1 - Casestudy Card Animation (Archive Casestudy) */
.card-casestudy {
    -webkit-animation: 0.2s fade_in;
    animation: 0.2s fade_in;
    margin-bottom: 4rem;
    &:last-child {
        margin-bottom: 0;
    }

    &.hide {
        opacity: 0;
        -webkit-animation: 0.2s fade_out forwards;
        animation: 0.2s fade_out forwards;
        display: none;
    }

    .entry-content {
        @media screen and (min-width: $tablet_width) {
            padding-top: 0.35rem;
            @media screen and (min-width: $desktop_width) {
                padding-top: 1.25rem;
            }
        }

        p {
            margin: 0;
        }
    }

    .h6-like {
        margin-top: 0.5em;
        margin-bottom: 0.5em;
        @media screen and (min-width: $col_6_width) {
            margin-bottom: 0;
        }
    }
}

// Apparition animation
@-webkit-keyframes fade_in { 
    from { opacity: 0; } to { opacity: 1; }  
}
@keyframes fade_in { 
    from { opacity: 0; } to { opacity: 1; }  
}

// Disparition animation
@-webkit-keyframes fade_out { 
    from { 
        opacity: 1; 
        display: block;
    } 90% { 
        opacity: 0; 
        display: block;
    } 
    to { 
        opacity: 0; 
        display: none;
    }   
}
@keyframes fade_out { 
    from { 
        opacity: 1; 
        display: block;
    } 90% { 
        opacity: 0; 
        display: block;
    } 
    to { 
        opacity: 0; 
        display: none;
    }     
}