/*

Page Template [template-parts/content-page.php]

File structure

*/


#contact-form-container {
    position: relative;

    // 1 - Form Behaviour

    // 1.1 - Step A : Form visible - message hidden
    #validationMessage {
        display: none;
        opacity: 0;

        // 1.2 - Message style
        position: absolute;
        top: 50%;
        left: 50%;
        transform : translate(-50%, -50%);
        box-sizing: border-box;
        width: 70vw;
        max-width: $wrapper-small-width;
        background:$white;
        z-index: 100;
        transition: opacity .4s;
    }

    // 1.3 - Step B : Form hidden - message visible
    &.message-sent {
        #validationMessage {
            display: block;
            opacity: 1;
        }
        #contactForm {
            opacity: 0;
        }
    }

    // 1.4 - Form & Message Style 
    #validationMessage,
    form#contactForm {
        background: white;
        padding: 1rem 1.5rem;
        @media screen and (min-width: $col_12_width) {
            padding: 2rem 3rem ;
            @media screen and (min-width: $col_12_width) {
                padding: 4rem 6rem;
            }
        }
    }

    // 2 - Content Style

    // 2.1 - Pattern Background
    background-color: $leksi-pink;
    background-image: url(./image/bg-form.svg);
    background-position: center center;
    background-repeat: no-repeat;

    // 2.3 - Input Style
    form#contactForm {
        opacity: 1;
        transition: opacity .4s;

        h2 {
            margin-top: 0;
            margin-bottom: 2rem;
        }

        input:not(.button),
        textarea {
            font-size: 1rem;
        }

        .button {
            margin-top: 2rem;
            width: max-content;
            align-self: center;
        }
    }
}
