/*

Homepage Style [see header-home.php]

File Structure :

1 - Hero Layout
    1.1 - Content Layout
    1.2 - Hero Layout  
    1.3 Background-trick
        1.3.1 - Font-settings
        1.3.2 -  Mobile Settings
        1.3.3 - Desktop Settings
    1.4 Title
        1.4.1 - Mobile layout
        1.4.2 - 6 columns layout
        1.4.3 - 8 columns layout
        1.4.4 - 12 columns layout
        1.4.5 - 14 columns layout
*/

/* 1.1 - Content Layout */ 
#home-hero + #content {
    padding-top: 100vh; // #home-hero height
    margin-top: -2rem; // #topbar-height height
}

/* 1.2 - Hero Layout */ 
#home-hero {
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    min-height: 100vh;
    width: 100%;
    max-width: 100vw;
    overflow: hidden;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-content: flex-start;

    // 1.3 Background-trick
    &:after {
        content: "Leksi,l'agencedigitalequipèsesesmotsLeksi,l'agencedigitalequipèsesesmotsLeksi,l'agencedigitalequipèsesesmotsLeksi,l'agencedigitalequipèsesesmotsLeksi,l'agencedigitalequipèsesesmotsLeksi,l'agencedigitalequipèsesesmotsLeksi,l'agencedigitalequipèsesesmotsLeksi,l'agencedigitalequipèsesesmotsLeksi,l'agencedigitalequipèsesesmotsLeksi,l'agencedigitalequipèsesesmotsLeksi,l'agencedigitalequipèsesesmotsLeksi,l'agencedigitalequipèsesesmotsLeksi,l'agencedigitalequipèsesesmotsLeksi,l'agencedigitalequipèsesesmotsLeksi,l'agencedigitalequipèsesesmotsLeksi,l'agencedigitalequipèsesesmots";
        position: absolute;
        top: 0;
        height: 100vh;
        word-break: break-all;
        z-index: -1;
        color: $leksi-navy;
        background-color: $leksi-blue;
        overflow: hidden;

        // 1.3.1 - Font-settings
        @include font-title;
        line-height: 85%;

        // 1.3.2 -  Mobile Settings
        font-size: 12vw;
        left: -4vw;
        width: 112vw;

        // 1.3.3 - Desktop Settings
        @media screen and (min-width: $col_10_width) {
            font-size: 6vw;
            left: -2vw;
            width: 104vw;
        }
    }

    // 1.4 Title
    h1 {
        max-width: 100%;
        line-height: 110%;
        > span::after {
            bottom: 0.05em;
            z-index: 1;
        }
        // Mobile layout
        margin-left:  map-get($wrapper-padding, $mobile_width);
        margin-right:  map-get($wrapper-padding, $mobile_width);
        
        // 6 columns layout
        @media screen and (min-width: $col_6_width) {
            margin-left:  map-get($wrapper-padding, $tablet_width);
            margin-right:  map-get($wrapper-padding, $tablet_width);

            // 8 columns layout
            @media screen and (min-width: $col_8_width) {
                margin-left:  6rem;

                // 12 columns layout
                @media screen and (min-width: $col_12_width) {
                    margin-left: 11rem;

                    // 14 columns layout
                    @media screen and (min-width: $col_14_width) {
                        max-width : map-get($wrapper-medium-width, $col_14_width);
                        
                        // 16 columns layout
                        @media screen and (min-width: $col_16_width) {
                            max-width : map-get($wrapper-medium-width, $col_16_width);
                            width: 100%;
                            margin-left: auto;
                            margin-right: auto;
                        }
                    }
                }
            }
        }
    }
}