/*

Post Archive and Blog : [templates/tpl-archive-blog.php] & [archive.php]

File structure

*/

/* 1 - Page Template */

#post-header {

    // Fil d'Ariane
    > #post-breadcrumb {
        padding-bottom: 2rem;
    }

    // Thumbnail
    #post-thumb {
        width: 100%;
        height: pixel(300);
        overflow: hidden;
        * {
            width: 100%;
            max-width: 100%;
            height: 100%;
            object-fit: cover;
            object-position: center;
        }
    }

    // Title
    #post-title {
        // Title
        > h1 {
            margin: 0 0 2rem 0;
        }
    }
}

#post-layout,
#post-layout #post-share,
#post-layout #raw-content {
    box-sizing: border-box;
}

#post-layout {
    width: 100%;
    // Tiny Layout
    padding-left:  map-get($wrapper-padding, $mobile_width);
    padding-right:  map-get($wrapper-padding, $mobile_width);

    // Mobile layout
    @media screen and (min-width: $col_6_width) {
        padding-left:  map-get($wrapper-padding, $tablet_width);
        padding-right:  map-get($wrapper-padding, $tablet_width);
        
        // Large Mobile layout
        @media screen and (min-width: $col_8_width) {
            padding-left:  map-get($wrapper-padding, $desktop_width);
            padding-right:  map-get($wrapper-padding, $desktop_width);
            // Tablet Layout
            @media screen and (min-width: $col_10_width) {
                padding-left: 0;
                padding-right: 0;
            }
        }
    }

    #post-share {
        width: 100%;
        padding-bottom: 2rem;

        // Tablet layout
        @media screen and (min-width: $col_6_width) and (max-width: $col_10_width) {
            display: flex;
            flex-flow: row;
            #share-list {
                margin-top: 0;
                margin-left: 2rem;
            }
        }
        // Desktop Layout
        @media screen and (min-width: $col_10_width) {
            padding-left:  map-get($wrapper-padding, $desktop_width);
            //overflow: visible;
            max-width: 22rem;
            height: 20rem;
            position: -webkit-sticky;
            position: sticky;
            top: 6rem;
            left: 0;
            padding-bottom: 0;
        }
    }

    #share-list {
        margin-top: 2rem;
        display: block;
    }

    #share-links {
        margin-top: 0.25rem;
        display: flex;
        flex-flow: row wrap;

        // Touchscreen Devices (no hover)
        > * {
            margin-right: 1rem;
            &:last-child {
                margin-right: 0;
            }
        }
            img, picture {
                width: 3rem;
                height: auto;
            }

        // Devices with hover
        @media (hover: hover) {

            > * {
                margin-right: 0.5rem;
                &:last-child {
                    margin-right: 0;
                }
            }
            img, picture {
                width: 2rem;
                height: auto;
            }
        }

    }

    /* copyLink */

    #raw-content {
        display: block;
        width: 100%;
        //max-width: $col_16_width;
        // Tablet Layout
        @media screen and (min-width: $col_10_width) {
            display: inline-block;
            margin-top: -20rem;
            padding-left: 22rem;
            @media screen and (min-width: $col_16_width) {
                padding-right: 22rem;
            }
        }
    }
}

/* Block Suggestions d'articles */
#post-suggestions {
    h2 {
        margin-top: 0;
    }
    color: $leksi-green;
    a:link,
    a:visited {
        color: $leksi-green;
    }

}

// #post-suggestions and #footer have the same bg-colour : 
// we can diminish space beetween the 2 blocks

#content > main > #post-suggestions:last-child {
    padding-bottom: 0;
}

