ul.sitemap-menu {
    list-style: none;
    padding: 0;
    margin: 0;
    a {
        display: inline-block;
        text-decoration: none;
        margin-bottom: 0.5em;

    }
    li:last-child > a:last-child {
        margin-bottom: 2em;
    } 

    // Level 1
    > li {
        @include font(h5, bold);
    }

    // Level 2
     ul {
        padding: 0 0 0 1em;
        list-style: "⟶ ";
        list-style-position: inside;
        @include font(h6, regular);
        // font-size: 1rem;
        
        // Level 3
         ul {
            list-style: disc;
            list-style-position: inside;
        }
    }
}