/*

Page Template [template-parts/content-page.php]

File structure

*/


#page-header {
    box-sizing: border-box;

    &:not(.padding-btm-medium) {
        @include spacing(padding-bottom, $vertical-padding-regular);
    }

    &.padding-btm-medium {
        @include spacing(padding-bottom, $vertical-padding-medium);
    }

    &.leksi-blue-bg {
        > h1 {
            color: $leksi-green;
        }
        padding-top: 2rem;
        @media screen and (min-width: $col_10_width) {
            padding-top: 3rem;
        }
    }

    // Wrapper Width
    > h1,
    > div,
    > p {
        margin: auto;
        @include spacing(max-width, $wrapper-medium-width);
    }

    // Title
    > h1 {
        margin-top: 2rem;
        @media screen and (min-width: $col_6_width) {
            margin-top: 5rem;
            @media screen and (min-width: $col_10_width) {
                margin-top: 6rem;
            }
        }
    }

    // Lead-paragraph
    > div {
        margin-top: 2rem;
        @media screen and (min-width: $col_6_width) {
            margin-top: 3rem;
            @media screen and (min-width: $col_10_width) {
                margin-top: 4rem;
            }
        }
    }

    // Category name fo casestudy-single
    > p {
        margin-top: 1em;
    }

}
