/*

Gutenberg Bloc Podcast [template-parts/block/podcast.php]

File structure :
------------------
1 - Block Content

*/


.blk-podcast {

    .podcast-header {
        height: 100%;
        min-height: 6rem;
        @media screen and (min-width: $col_6_width) {
            min-height: 10rem;
        }

        .podcast-thumbnail {

            @media screen and (min-width: $col_4_width) {
                float: left;
                height: 6rem;
                width: 6rem;
                
                @media screen and (min-width: $col_6_width) {
                    height: 10rem;
                    width: 10rem;
                }
            }

            * {
                width: 100%;
                height: auto;
                object-fit: cover;
            }
        }
    }

    // Title Style
    .podcast-title {

        padding: 1rem;
        // Mobile
        @media screen and (min-width: $col_4_width) {
            padding-left: 7rem;
            // Tablet
            @media screen and (min-width: $col_6_width) {
                padding-left: 11rem;
            }
        }

        @include no-useless-margin;
        h2 {
            margin-bottom: 1rem;
        }
    }

    // Social Link 
    nav a {
        // Tiny Mobile : link are in a column
        @media screen and (max-width: $col_6_width) {
            display: block;
        }
        margin-right: 1.5rem;
        margin-top: 1rem;
    }
}




 