/*

Gutenberg Bloc Data [template-parts/block/data.php]

File structure :
------------------
1 - Block Layout

2 - 


blk-contact

*/

#blk-newsletter {

    // 1 - Form Behaviour
    position: relative;

    // 1.1 - Step A : Form visible - message hidden
    #newsletterMessage {
        display: none;
        opacity: 0;

        // 1.2 - Message style
        position: absolute;
        top: 50%;
        left: 50%;
        transform : translate(-50%, -0%);
        box-sizing: border-box;
        width: 70vw;
        max-width: $wrapper-small-width;
        z-index: 100;
        transition: opacity .4s;
    }

    // 1.3 - Step B : Form hidden - message visible
    &.form-sent {
        #newsletterMessage {
            display: block;
            opacity: 1;
        }
        #footer-newslettter-form {
            opacity: 0;
        }
    }

    // 2.1 - Color Background
    background-color: $leksi-blue;

    // 2.2 - Pattern Background
    // Mobile Background
    background-image: url(./image/bg-newsletter-left.svg), url(./image/bg-newsletter-right.svg);
    background-position: bottom left, top right;
    //background-size: 100%;
    background-repeat: no-repeat;
    padding-top: 4rem;
    padding-bottom: 4rem;

    // Desktop Background
    @media screen and (min-width: $col_8_width) {
        padding-top: 5rem;
        padding-bottom: 5rem;
        background-position: top left, top right;
        background-repeat: repeat-y;
    }

    // 2.3 - Form layout
    .layout {
        display: grid;
        grid-template-columns: 1fr;
        margin-bottom: 2rem;

        // Mobile layout
        @media screen and (max-width: pixel(400) ) {
            input.margin-b {
                margin-bottom: 2rem;
            }
        }

        // Desktop layout
        @media screen and (min-width: pixel(401) ) {
            grid-template-columns: auto 10rem;
            label {
                grid-column: 1;
            }
            input {
                grid-column: 1;
            }
            input.button-green {
                grid-column: 2;
            }
        }


    }

    // 3 - Content Style
    h2 {
        margin-bottom: 2rem;
        &.line-underlined span::after {
            background: $white;
        }
    }

}