/*

Gutenberg Bloc Listing Casestudy [template-parts/block/lisiting-casestudy.php]

File structure :
------------------
/* 1 - Block Layout
    1.1 Vertical spacing (title + listing)
------------------
 2 - Content
    2.1 - Title
    2.2 - Description
    2.3 - Casestudy title
    2.4 - Links
    2.5 - Button
*/

/* 1 - Block Layout
------------------*/
.blk-listing-casestudy {

    // 1.1 Vertical spacing (title + listing)
    > div:nth-of-type(1),
    .grid-regular > article {
        margin-bottom : 3rem;
        @media screen and (min-width: $col_8_width) {
            margin-bottom : 5rem;
        }
    }

    .grid-regular {
        @media screen and (max-width: $col_8_width) {
            grid-row-gap: 1rem;
        }
    }

    /* 2 - Content
    ------------------*/


    // 2.1 - Title
    .small-title {
        max-width: 7ch;
    }

    // 2.2 - Description
    article {

        // Mobile Layout
        @media screen and (min-width: $col_6_width) and (max-width: $col_8_width) {
            margin-top: 2rem;
        }
    }

    /*
    a {
        &:hover,
        &:focus {

            //color: lighten($leksi-blue, 15);
            //color: $leksi-green;
            color: $leksi-green;
        }

        &:active {
            color: $leksi-blue;
        }
    }
    */

    // 2.3 - Casestudy title
    h3 {
        margin: 0;
        @media screen and (min-width: $col_8_width) {
            margin-bottom: 1rem;
        }
    }

    .wrapper-medium {
        text-align: center;
        > * {
            text-align: left;
        }
    }

    // 2.4 - Links
    a {
        display: inline-block;
        &.margin-top {
            margin-top: 1rem;
        }
       
        // 2.5 - Button
        &.button-ghost {
            @include font(h4, bold);
        }
    }
}