/*

Gutenberg Bloc Team [template-parts/block/equipe.php]

File structure :
------------------
1 - Block Content


*/

// 1 - Block Content
.blk-team {

    // 1.1 - Title
    h2 {
        margin: auto;
        margin-bottom: 2rem;
        @media screen and (min-width: $col_6_width ) {
            margin-bottom: 5rem;
            @media screen and (min-width: $col_8_width ) {
                margin-bottom: 6rem;
            }
        }
    }

    .grid-regular {
        grid-row-gap: 2rem;
        @media screen and (min-width: $col_6_width ) {
            grid-row-gap: 4rem;
            @media screen and (min-width: $col_8_width ) {
                grid-row-gap: 2rem;
                grid-column-gap: 1rem;
                @media screen and (min-width: $col_10_width ) {
                    grid-column-gap: 3.5rem;
                    @media screen and (min-width: $col_12_width ) {
                        grid-column-gap: 7rem;
                    }
                }
            }
        }
    }

    // 1.2 - Portrait Header
    .portrait-header {
        display: flex;
        flex-flow: row nowrap;
        justify-content: flex-start;
        align-items: flex-start;
        margin-bottom: 1rem;
        @media screen and (min-width: $col_6_width ) {
            margin-bottom: 2rem;
        }
    }
    // 1.3 - Portrait Picture
    .portrait-picture {
        display: inline-block;
        margin-right: 1rem;
    }

    // 1.4 - Portrait Infos
    .portrait-info {
        display: inline-block;
        
        > * {
            display: block;
            margin-top: 0;
            margin-bottom: 0.1rem;
        }

        > a {
            margin-top: 1rem;
        }
    }
}