/*

Gutenberg Bloc References (Clients) [template-parts/block/reference.php]

File structure :
------------------
1 - Block Content
    1.1 - Bloc Title
    1.2 - Reference listing
    1.3 - Single Reference

*/

// 1 - Block Content
.blk-reference {
    // 1.1 - Bloc Title
    h2 {
        margin-top: 0;
        margin-bottom: 2rem
    }
    // 1.2 - Reference listing
    .reference-container {
        display: grid;
        grid-gap: 1.5rem;
        grid-template-columns: repeat( auto-fill, pixel(140));
        @media screen and (max-width: pixel(400)) {
            grid-template-columns: 1fr 1fr 1fr;
            @media screen and (max-width: pixel(300)) {
                grid-template-columns: 1fr 1fr;
            }
        }
        // 1.3 - Single Reference
        >div {
            color: $white;
            background-color: $white;
            display: flex;
            align-items: center;
            overflow: hidden;
            position: relative;
            cursor: text;
            &:hover,
            &:focus,
            &:active {
                background-color: $leksi-navy;
                transition: 0.2s all;
                .appear-on-hover {
                    opacity: 1;
                }
                img,
                picture {
                    opacity: 0;
                }
            }
            * {
                transition: 0.2s all;
            }
            a {
                padding: 0;
                @supports ( mix-blend-mode: luminosity) {
                    // mix-blend-mode: luminosity;
                }
            }
            img,
            picture {
                display: block;
                width: 100%;
                height: auto;
                line-height: 0;
                margin: 0;
                opacity: 1;
            }
            .appear-on-hover {
                position: absolute;
                left: 0;
                top: 50%;
                opacity: 0;
                transform: translate(0, -50%);
            }
            p {
                text-align: center;
                margin: auto;
                line-height: $lh-small;
                width: 100%;
            }
        }
    }
}