/*

Gutenberg Bloc Data [template-parts/block/data.php]

File structure :
------------------
1 - Block Content
    1.1 - Title
    1.2 - Text
------------------
2 - Data Layout 
    2.1 - Data Container
    2.2 - Data Card (single)
        Tablet Layout
        Mobile Layout
        Desktop Layout
        Huge Layout
    2.3 - Data Image

*/

// 1 - Block Content
.blk-data {

    .grid-title {
        margin-bottom: 3rem;
        @media screen and (min-width: $col_6_width) {
            margin-bottom : 4rem;
            @media screen and (min-width: $col_10_width) {
                margin-bottom : 10rem;
            }
        }
    }

    // 1.1 - Title
    h2 {
        @media screen and (min-width: $col_6_width) {
            max-width: 8ch;
        }
    }

    // 1.2 - Text
    .data-text {
        font-size: pixel(20);
        line-height: $lh-standard;
        > * {
            margin: 0;
        }
        > a {
            display: inline-block;
            margin-top: 1rem;
        }
    }

    // 2 - Data Layout
    
    // 2.1 - Data Container
    .data-loop {
        //grid-area: data;
        display: flex;
        flex-flow: column nowrap;
        margin: auto;

        @media screen and (min-width: $col_8_width) {
            flex-flow: row nowrap;
            justify-content: flex-start;
        }
    }

    // 2.2 - Data Card (single)
    .data-card {
        flex: 1 0 0;

        // Tablet Layout
        @media screen and (max-width: $col_8_width) {
            max-width: 18rem;
            margin-top: 4rem;
            // Mobile Layout
            @media screen and (max-width: $col_6_width) {
                &:first-child {
                    margin-top: 0;
                }
                
            }
        }
        // Desktop Layout
        @media screen and (min-width: $col_8_width) {
            max-width: unset;
            padding: 0 0.5rem;
            &:first-child {
                padding-left: 0;
            }
            &:last-child {
                padding-right: 0;
            }
            // Huge Layout
            @media screen and (min-width: $col_10_width) {
                max-width: unset;
                padding: 0 2rem;
            }
        }
    }

    // 2.3 - Data Image
    .data-img-container {

        display: flex;
        flex-direction: column;
        justify-content: flex-end; // img is at the bottom
        align-items: flex-start; // img is on the left
        width: 100%;
        margin-bottom: 1rem;

        @media screen and (min-width: $col_8_width) {
            height: pixel(52);
        }
    }
}