/*

Gutenberg Bloc Data [template-parts/block/temoignage.php]

File structure :
------------------
1 - Block Content


*/

// 1 - Block Content
.blk-testimonial {

    // 1.1 - Background
    background-image: url(./image/bg-lines.svg), url(./image/bg-lines.svg);
    background-repeat: no-repeat;
    background-color: $leksi-blue;
    background-size: pixel(250);
    padding-top: 4rem;
    padding-bottom: 4rem;
    background-position: bottom center, top center;

    // Tablet
    @media screen and (min-width: $col_6_width ) {
        background-position: bottom left, top right;
        // Desktop
        @media screen and (min-width: $col_10_width ) {
            background-size: pixel(550);
            padding-top: 8rem;
            padding-bottom: 8rem;
            // Huge
            @media screen and (min-width: $col_12_width ) {
                padding-top: 10rem;
                padding-bottom: 10rem;
            }
        }
    }

    // 1.2 - Title
    h2 {
        margin-bottom: 2rem;
        @media screen and (min-width: $col_8_width ) {
            max-width: 8ch;
        }
    }

    // 2 - Testimonial Listing
    // 2.1 - Single testitmonial
    .testimonial-container > div {

        margin: 0;

        &:first-child {
            padding-top: 2rem;
        }
    
        margin-bottom : 2rem;
        @media screen and (min-width: $col_8_width ) {
            margin-bottom : 4rem;
        }

        &:last-child {
            margin-bottom: 0;
        }

        // Name
        > h3 {
            margin: 0;
            margin-top: 0.5rem;
            margin-bottom: 0.25rem;
        }
    }
}