/*

Gutenberg Bloc Title-Texte & Title-Texte-Image [template-parts/block/titleTexteImage.php & template-parts/block/titleTexte.php]

File structure :
------------------
1 - Block Content
    1.1 - Title
    1.2 - Text
------------------
2 - Data Layout 
    2.1 - Data Container
    2.2 - Data Card (single)
        Tablet Layout
        Mobile Layout
        Desktop Layout
        Huge Layout
    2.3 - Data Image

*/

/* 1 - Block Title + Text + Image */

/* 2 - Block Title + Text */

/* 3 - Block Title */

/* 4 - Block Text */

/* 5 - Commun settings */

.blk-text {

    @include spacing(padding-top, $vertical-padding-medium);
    @include spacing(padding-bottom, $vertical-padding-medium);

    // 1 - Bloc Layout
    > div {
        display: grid;
        grid-column-gap: 1rem;
        grid-row-gap: 2rem;
    
        // 1.1 - Mobile Layout
        grid-template-columns: 1fr;
        grid-template-areas: "title" "content";
    
        // 1.2 - Desktop Layout
        @media screen and (min-width: $col_6_width) {
            grid-template-areas: "title content";
            grid-template-columns: repeat(2, 1fr);
            // 1.3 - Huge Layout
            @media screen and (min-width: $col_12_width) {
                grid-column-gap: 7rem;
            }
        }
    }


    /* 1.3 - Layout Alternate */
    &:nth-of-type(even)  {

        // For desktop, we alternate title and content display
        // Title is on the right
        @media screen and (min-width: $col_6_width) {

            > div {
                grid-template-areas: "content title";
            }
        }
    }



    // 2 - Content
    .bloc-content,
    .bloc-title {
        @include no-useless-margin;
    }

    // 2.1 - Title style
    .bloc-title {
        grid-area: title;
    }
    h2 {
        margin-bottom: 2rem;
    }

    // 2.2 - Content style
    .bloc-content {
        grid-area: content;
        img,
        picture {
            width: 100%;
            max-width: 100%;
            height: auto;
        }
    }

    // 2.3 - Button Style
    .arrow-right {
        border: 2px solid $leksi-blue;
        margin-top: 2rem;
    }

    // 3 - Background
    &.custom-bg  {    
    // 3.1 - Mobile
    background-image: url(./image/bg-lines.svg), url(./image/bg-lines.svg);
    background-repeat: no-repeat;
    background-size: pixel(250);
    background-position: bottom left, top right;

        // 3.2 - Desktop
        @media screen and (min-width: $col_10_width ) {
            background-size: pixel(550);
        }

        
        > div {
            @include spacing(margin-top, $vertical-padding-small);
            @include spacing(margin-bottom, $vertical-padding-small);
        }
    }
}

.blk-text:not(.custom-bg) + .blk-text:not(.custom-bg) {
    padding-top: 0;
}