/*

Gutenberg Bloc Data [template-parts/block/data.php]

File structure :
------------------
1 - Block Layout

2 - 


blk-contact

*/

// 1 - Block Settings
.blk-banner {

    text-align: center;
    padding-top: 7rem;
    padding-bottom: 7rem;
    @media screen and (min-width: $col_4_width) {
        padding-top: 8rem;
        padding-bottom: 8rem;
    }

    // 1.1 - Color Background
    background-color: $leksi-pink;

    // 1.2 - Pattern Background
    // Mobile Background
    background-image: url(./image/bg-banner-left.svg), url(./image/bg-banner-right.svg);
    background-position: bottom left, top right;
    //background-size: 100%;
    background-repeat: no-repeat;

    // Desktop Background
    @media screen and (min-width: $col_8_width) {
        padding-top: 5rem;
        padding-bottom: 5rem;
        background-position: top left, top right;
        background-repeat: repeat-y;
    }

    // Title
    .line-underlined {
        margin: auto;
        max-width: 16ch;
        // Underlined title
        > span {
            display: inline;
            @include font-title;
            &::after {
                background-color: $white;
            }
        }
    }

    // Button
    a {
       margin-top: 1.5rem;
    }

}