/*

Gutenberg Bloc Data [template-parts/block/data.php]

File structure :
------------------
1 - Block Settings
    1.1 - Color Background
    1.2 - Pattern Background
------------------
2 - Title
    2.1 - Blue Background
    2.2 - White words
    2.3 - Button

*/

// 1 - Block Settings
#blk-banner-podcast {

    // 1.1 - Color Background
    background-color: $leksi-pink;

    // 1.2 - Pattern Background
    background-image: url(./image/bg-podcast.svg);
    background-position: bottom center;
    background-repeat: no-repeat;

    // 2 - Title
    h2 {
        color: $leksi-green;
        margin: 0;
        margin-bottom: 2rem;
        line-height: 1.3;

        // 2.1 - Blue Background
        display: inline;
        background-color: $leksi-blue;
        
        // 2.2 - White words
        > span {
            color: white;
        }
    }

    // 2.3 - Button
    a {
       margin-top: 1.5rem;
    }

}