/*

Gutenberg Core blocks

File structure :
------------------
0 - Select Core Blosks 
------------------
1 - Text
    1.1 - Paragraph
    1.2 - Title
    1.3 - List
    1.4 - Blockquote
------------------
2 - Picture
    2.1 - Image
    2.2 - Figure

*/

// 0 - Select Core Blocks
// We select elements placed directly in the page content
#raw-content {

    >p:first-child {
        margin-top: 0;
    }

    /* 1 - Text
    ------------------*/
    // 1.0 - ALL
    > *:not(section) {
        @include spacing(max-width, $wrapper-medium-width);
        width: 100%;
        margin: 2rem auto;
        // Responsive padding 
        padding: 0 map-get($wrapper-padding, null);
        @media screen and (min-width: $mobile_width) {
            padding: 0 map-get($wrapper-padding, $mobile_width);
            @media screen and (min-width: $tablet_width) {
                padding: 0 map-get($wrapper-padding, $tablet_width);
            }
        }

        // When window > $wrapper-medium-width : mobile & , there is no padding
        @media screen and (min-width: map-get($wrapper-medium-width, $mobile_width)) and (max-width: $desktop_width) {
            padding: 0 map-get($wrapper-padding, $tablet_width);
            max-width: 100%;
        }

        box-sizing: border-box;
    }

    &.post-width-limit {
        @media screen and (min-width: $col_14_width) {
            margin-left: auto;
            margin-right: auto;
            width: 100%;
        }

        *:not(section) {
            max-width: $col_10_width;
            
            @media screen and (min-width: $tablet_width) {
                padding: 0;

                @media screen and (min-width: $desktop_width) and (max-width: $col_14_width) {
                    padding-right: map-get($wrapper-padding, $tablet_width);
                }
            }
        }
    }

    // 1.1 - Paragraph
    > p {
        @include entry-content;
    }
    // 1.2 - Title
        > h1,
        > h2,
        > h3,
        > h4,
        > h5,
        > h6, {
        }

    // 1.3 - List 
    //List have the same style as in .entry-content element [see content.scss]
    > ul, 
    > ol {
        @include entry-content-list;
    }

    > ol {
        @include entry-content-ol;
    }

    // 1.4 - Blockquote
    blockquote {
        box-sizing: border-box;
        border: 2px solid $leksi-pink;
        @include spacing(padding, $wrapper-padding)

        p {
            margin: 0;
        }

        cite {
            font-style: normal;
            margin-top: 2rem;
            margin-bottom: 0.5rem;
            display: inline-block;
        }
    }

    /* 2 - Picture
    ------------------*/

    //2.1 - Image
    > img,
    > picture {
        max-width: 100%;
        height: auto;
        margin: 2rem auto;
    }
    //2.2 - Figure
    > figure {
        width: 100%;
        display: flex;
        flex-flow: column nowrap;
        @include wrapper;
        @include v-padding-regular;
        > * {
            max-width: 100%;
            height: auto;
            //@include blocked-wrapper;
        }
        > figcaption {
            margin-top: 2rem;
            text-align: center;
        }
    }

    /* 3 - Entry-content
    ---------------- */
    > .entry-content {
        @include spacing(margin-top, $vertical-padding-small);
        @include spacing(margin-bottom, $vertical-padding-small);
    }
}